/* top header category multi dropdown menu css starts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.sub-menu {
  position: relative; }

.sub-menu li a {
  font-size: 14px;
  color: #000; }

.sub-menu li a {
  font-size: 15px;
  color: #444;
  padding-left: 10px;
  padding: 5px 10px;
  font-weight: 500; }

.sub-menu li a:hover {
  color: var(--color-secondary);
  cursor: pointer; }

.sub-menu li a:active {
  color: #fff;
  cursor: pointer; }

.sub-menu .dropdown-submenu {
  border-bottom: 1px solid #cfcfcf; }

.dropdown-menu .sub-sub-menu, .dropdown-menu .sub-sub-sub-menu {
  height: 100%; }

.dropdown-menu .sub-sub-menu li, .dropdown-menu .sub-sub-sub-menu li {
  border-bottom: 0px solid rgba(0, 0, 0, 0.15); }

.sub-menu, .sub-sub-menu, .sub-sub-sub-menu {
  border-radius: 0px; }

.dropdown-submenu a img {
  margin-right: 4px; }

.sub-menu.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  border-top: 0;
  margin: 0; }

.sub-sub-menu.dropdown-menu {
  margin: 0px;
  padding: 0px;
  border-top: 0px; }

.sub-sub-sub-menu.dropdown-menu {
  border-top: 0px;
  padding: 0px;
  margin: 0px; }

.dropdown-menu.sub-menu, .dropdown-menu .sub-sub-menu, .dropdown-menu.sub-sub-sub-menu {
  width: 240px; }

.dropdown-submenu > a:after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
  float: right; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

/* top header category multi dropdown menu css edns */
/* Footer Payment System */
.mini-comp-logo li {
  display: inline-block;
  margin: 1rem; }

.mini-comp-logo li img {
  height: 2rem;
  object-fit: contain; }

/* Footer Payment System */
a,
a:hover,
a:active {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6, p,
ul {
  padding: 0;
  margin: 0; }

a,
button {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.color-white {
  color: #fff !important; }

.common-padding {
  padding: 3rem 0 !important; }

.color-primary {
  color: #FF5C00 !important; }

.no-top {
  padding-top: 0 !important; }

.pad-t-20 {
  padding-top: 20px !important; }

.no-bottom {
  padding-bottom: 0 !important; }

.bg-primary {
  background: #FF5C00 !important; }

.bg-para {
  background-attachment: fixed !important; }

.bg-img {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; }

.bg-grey {
  background: rgba(158, 158, 158, 0.2) !important; }

.side-listing li {
  display: inline-block !important; }

/*********
 Project Name: Alpasal Ecommerce
 Project Category: Ecommerce
 Developed by: Gopal Basnet
 Author: Gopal Basnet (Frontend Developer)
 Date: August 2019
************/
/**--ClearFix---**/
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

::selection {
  background: #FF5C00;
  color: #fff; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 1rem) {
    html {
      font-size: 75%; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative; }

.btn-main {
  display: inline-block;
  background: #FF5C00;
  color: #fff;
  padding: 1.2rem 2rem;
  outline: none;
  border: none;
  position: relative;
  z-index: 2; }
  .btn-main::before {
    content: '';
    height: 100%;
    width: 0;
    background: #cc4a00;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .btn-main:hover::before {
    width: 100%; }

.text-center .footer-title::before {
  margin: 0 auto;
  left: 0;
  right: 0; }

.header-main {
  background: #fff; }
  .header-main .navbar {
    background: #003574;
    color: #fff;
    padding: 0; }
    @media only screen and (max-width: 768px) {
      .header-main .navbar {
        padding: 10px; } }
    .header-main .navbar .nav-item-main {
      position: relative; }
      .header-main .navbar .nav-item-main:not(:last-child) {
        margin-right: .5rem; }
      .header-main .navbar .nav-item-main:first-child .nav-link {
        background: #FF5C00; }
      .header-main .navbar .nav-item-main .nav-link {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: #fff;
        padding: 1rem 1.5rem;
        font-weight: 500; }
        .header-main .navbar .nav-item-main .nav-link:hover {
          background: #FF5C00;
          color: #fff; }

.top-header {
  padding: .3rem 0;
  background: #eeeeee; }

.top-links {
  text-align: center; }
  .top-links li {
    font-size: 1.2rem; }
    .top-links li i {
      margin-right: .5rem; }
    .top-links li:not(:last-child) {
      margin-right: 2.5rem; }
  .top-links a {
    text-transform: uppercase;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.8px; }
    .top-links a:hover, .top-links a.active {
      color: #FF5C00; }
    .top-links a:hover {
      text-decoration: underline; }

.main-header {
  padding: 5px 0px; }
  .main-header .navbar-brand img {
    height: 6rem;
    object-fit: contain; }
    @media only screen and (max-width: 990px) {
      .main-header .navbar-brand img {
        width: 100%; } }

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0; }
  .search-bar .search-addon, .search-bar input, .search-bar button {
    border-radius: 0;
    height: 4.5rem;
    background: transparent;
    outline: none;
    border: none; }
  .search-bar .search-addon {
    background: #eee;
    line-height: 4.5rem;
    width: 5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #777; }
  .search-bar input {
    background: #eee;
    width: calc(85% - 4.5rem);
    font-size: 1.4rem;
    color: #333; }
  .search-bar button {
    text-transform: uppercase;
    background: #FF5C00;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    padding: 0px 23px; }

.head-notification {
  position: relative;
  margin-right: 20px; }
  .head-notification .notification-a-header {
    display: inline-block;
    height: 2rem;
    width: 4rem; }
    .head-notification .notification-a-header i {
      font-size: 30px; }
  .head-notification .cart-length {
    background: #FF5C00;
    color: #fff;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0; }

.coupon-code {
  width: 19rem; }

.notification-dropdown {
  display: none; }

.notification-a-header:active .notification-dropdown {
  display: block; }

.promoter-div-btn .promoter-div-a {
  background-color: transparent;
  color: #003574;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #003574;
  border-radius: 0px;
  transition: 0.4s ease all;
  padding: 10px 15px; }
  @media only screen and (max-width: 570px) {
    .promoter-div-btn .promoter-div-a {
      padding: 6px 15px; } }
  .promoter-div-btn .promoter-div-a:hover {
    color: #FF5C00;
    border-color: #FF5C00; }

@media only screen and (max-width: 570px) {
  .promoter-div-a {
    font-size: 12px !important;
    font-weight: 600;
    border: 1px solid #003574 !important; }

  .notifi-prom {
    justify-content: space-evenly !important; } }
.noti-side-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #a0a0a0; }

.slider-wrapper {
  height: 34%;
  width: 100%; }
  .slider-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  left: 0;
  right: 0; }
  .owl-dots .owl-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7) !important;
    margin: 0 .3rem;
    outline: none; }
    .owl-dots .owl-dot.active {
      background: #fff !important; }

/*------------------------
-----------Footer------
-------------------------*/
.footer-main {
  padding-top: 4rem; }

.top-footer {
  padding: 2rem 0; }

.top-footer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.footer-logo-wrap {
  width: 100%;
  height: 6rem;
  margin-bottom: 1rem; }

.footer-logo-wrap img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.footer-icon img {
  height: 2.5rem;
  width: 2.5rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 1rem; }

.footer-detail p {
  font-size: 1.4rem;
  color: #878787; }

.footer-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  color: #333;
  padding: 2.5rem 0 .7rem;
  margin-bottom: 2rem;
  position: relative; }

.footer-title::before {
  content: '';
  width: 75%;
  height: 2px;
  background: #003574;
  position: absolute;
  bottom: 0;
  left: 0; }

.footer-list li {
  margin: .5rem 0;
  position: relative; }

.footer-list li:first-child {
  margin-top: 0; }

.footer-list li::before {
  content: '\f192';
  color: #333;
  font-family: "Font Awesome 5 Free";
  margin-right: 1rem;
  font-size: 1rem; }

.footer-list li a {
  font-size: 1.4rem;
  color: #878787; }

.footer-list li a:hover {
  color: #FF5C00; }

/* MID_FOOTER */
.middle-footer {
  padding: 3rem 0; }

.footer-links li,
.mini-comp-logo li,
.comp-logo li {
  display: inline-block;
  margin: .5rem 1rem; }

.mini-comp-logo li {
  margin: .5rem; }

.comp-logo li img {
  height: 3rem;
  -o-object-fit: contain;
  object-fit: contain; }

.mini-comp-logo li img {
  height: 1.5rem;
  -o-object-fit: contain;
  object-fit: contain; }

.footer-links {
  margin: 2rem 0; }

.whole-title a,
.footer-links li a {
  color: #878787;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600; }

.footer-links li a:hover {
  color: #FF5C00; }

.middle-footer p {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #878787;
  margin-bottom: 2rem; }

.resp-short {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 580px) {
  .resp-short {
    width: 100%; } }
/* COPYRIGHT */
.copyright-wrapper {
  padding: 1.2rem 0;
  background: #333; }

.copyright {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  font-weight: 300; }

.copyright a {
  color: #FF5C00;
  font-size: 1.4rem;
  font-weight: 400; }
  .copyright a:hover {
    color: #fff; }

/*------------------------
-----------Footer------
-------------------------*/
.whole-category .footer-title {
  padding-top: 0; }
.whole-category .d-flex .main {
  white-space: nowrap; }
.whole-category ul li {
  display: inline-block;
  padding: 0 .3rem;
  line-height: 1; }
  .whole-category ul li:nth-child(2), .whole-category ul li:first-child {
    padding-left: 0; }
  .whole-category ul li:last-child {
    padding-right: 0; }
  .whole-category ul li:not(:last-child) {
    border-right: 1px solid rgba(51, 51, 51, 0.3); }
  .whole-category ul li.whole-title {
    border-right: 0; }
  .whole-category ul li a {
    display: inline-block;
    font-size: 1.3rem;
    color: #878787; }
    .whole-category ul li a:hover {
      color: #FF5C00; }

.top-footer .newsletter {
  margin-bottom: 2rem; }
.top-footer .footer-mob-icons {
  display: flex;
  justify-content: space-evenly; }
  .top-footer .footer-mob-icons li {
    list-style: none; }
    @media only screen and (max-width: 575px) {
      .top-footer .footer-mob-icons li {
        display: block;
        margin: 0 1rem; } }
    .top-footer .footer-mob-icons li:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 575px) {
        .top-footer .footer-mob-icons li:not(:last-child) {
          margin-bottom: 0; } }
    .top-footer .footer-mob-icons li img {
      height: 4rem;
      -o-object-fit: cover;
      object-fit: cover; }

.cat-nav {
  border: none;
  position: relative; }
  .cat-nav .nav-item:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 6px; }
    @media screen and (min-width: 992px) {
      .cat-nav .nav-item:not(:last-child) {
        margin-bottom: 0px; } }
  .cat-nav .nav-item .nav-link {
    border: none;
    color: #333;
    display: block;
    float: left;
    font-size: 13px;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 500; }
    .cat-nav .nav-item .nav-link.active, .cat-nav .nav-item .nav-link:hover {
      background: #003574;
      color: #fff;
      border-radius: 0; }
  .cat-nav .view-more-btn {
    position: absolute;
    right: 0px;
    top: 0px; }
    .cat-nav .view-more-btn a {
      color: #003574;
      transition: 0.3s ease all;
      font-size: 14px;
      font-weight: 500; }
      .cat-nav .view-more-btn a:hover {
        cursor: pointer;
        color: #FF5C00;
        text-decoration: underline; }

.owl-nav-top .owl-nav {
  position: absolute;
  top: -5rem;
  right: 0; }
  .owl-nav-top .owl-nav .owl-prev,
  .owl-nav-top .owl-nav .owl-next {
    outline: none; }
    .owl-nav-top .owl-nav .owl-prev span,
    .owl-nav-top .owl-nav .owl-next span {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 0;
      text-align: center;
      line-height: 2.7rem;
      color: #777;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .owl-nav-top .owl-nav .owl-prev span:hover,
      .owl-nav-top .owl-nav .owl-next span:hover {
        background: #FF5C00;
        border-color: #FF5C00;
        color: #fff; }
  .owl-nav-top .owl-nav .owl-next {
    margin-left: 1rem; }

.advo {
  width: 100%;
  position: relative;
  height: 200px;
  padding-top: 20px; }
  .advo img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .advo .advo-long-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    color: #FF5C00;
    padding-right: 4rem;
    padding-bottom: 2rem; }
    .advo .advo-long-content p {
      font-size: 3.6rem;
      text-transform: uppercase;
      font-weight: bold; }
      .advo .advo-long-content p span {
        display: block;
        color: #fff;
        font-weight: normal;
        font-size: 2.2rem; }

.custom-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .custom-grid-item {
    width: calc(100% / 8);
    padding: 0 .5rem; }
    @media only screen and (max-width: 1370px) {
      .custom-grid-item {
        width: calc(100% / 6); } }
    @media only screen and (max-width: 990px) {
      .custom-grid-item {
        width: calc(100% / 3); } }
    @media only screen and (max-width: 750px) {
      .custom-grid-item {
        width: calc(100% / 2); } }
    @media only screen and (max-width: 350px) {
      .custom-grid-item {
        width: calc(100% / 1); } }

.grid-btn-div {
  text-align: center;
  margin: 10px 0px 0px 0px; }
  .grid-btn-div .grid-btn {
    background: #003574;
    border: 1px solid #003574;
    color: #fff;
    padding: .7rem 1rem;
    font-size: 1.3rem;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s all ease; }
    .grid-btn-div .grid-btn:hover {
      background: #FF5C00;
      border-color: #FF5C00; }

.single-product-section {
  padding: 20px 0px; }

.xzoom {
  height: 350px;
  width: 100% !important;
  object-fit: contain;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 0px 0px 0px !important; }

.xactive {
  box-shadow: 0px 0px 3px 0px rgba(114, 116, 117, 0.38);
  border: 1px solid #cfcfcf; }

.single-zoom-wrapper {
  display: flex; }
  @media only screen and (max-width: 768px) {
    .single-zoom-wrapper {
      display: block; } }
  .single-zoom-wrapper .img-zoom-div {
    flex: 1;
    top: 135.25px;
    bottom: 0px;
    align-self: flex-start;
    position: sticky; }
    @media only screen and (max-width: 768px) {
      .single-zoom-wrapper .img-zoom-div {
        display: block;
        position: relative;
        top: 0px; } }
    .single-zoom-wrapper .img-zoom-div .left-zoom-img .zoom-img-carousel {
      display: flex; }
      .single-zoom-wrapper .img-zoom-div .left-zoom-img .zoom-img-carousel .middle-zoom-img {
        flex: 0;
        order: 1; }
        .single-zoom-wrapper .img-zoom-div .left-zoom-img .zoom-img-carousel .middle-zoom-img .xzoom-thumbs a .xzoom-gallery {
          margin-bottom: 10px; }
        .single-zoom-wrapper .img-zoom-div .left-zoom-img .zoom-img-carousel .middle-zoom-img .xzoom-thumbs a:last-child .xzoom-gallery {
          margin-bottom: 0px; }
      .single-zoom-wrapper .img-zoom-div .left-zoom-img .zoom-img-carousel .zoom-img-main {
        flex: 1;
        order: 2; }
    .single-zoom-wrapper .img-zoom-div .btn-buy-single {
      background-color: #FF5C00;
      font-size: 14px;
      border-color: #FF5C00;
      width: calc(100% - 22%);
      border-radius: 0px; }
      .single-zoom-wrapper .img-zoom-div .btn-buy-single:hover {
        background: #333;
        cursor: pointer;
        border-color: #333; }
  .single-zoom-wrapper form.search-map-input .input-group input {
    height: 30px;
    font-size: 13px;
    font-weight: 500; }
  .single-zoom-wrapper .right-zoom-img {
    flex: 2;
    padding-left: 2rem; }
    .single-zoom-wrapper .right-zoom-img .single-product-info {
      width: calc(100% - 5%); }
      .single-zoom-wrapper .right-zoom-img .single-product-info .single-product-title {
        font-size: 16px;
        font-weight: 500;
        color: #444; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 10px 0px;
        position: relative; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .rating-span {
          background: #FF5C00;
          font-size: 12px;
          color: #fff;
          padding: 3px 5px;
          border-radius: 4px;
          font-weight: 500;
          letter-spacing: 0.9px;
          margin-right: 5px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .rating-span-text {
          font-size: 12px;
          color: #003574;
          font-weight: 500; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .rating-span-text:after {
            content: '&';
            margin-left: 5px;
            margin-right: 5px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .review-span {
          font-size: 12px;
          color: #003574;
          font-weight: 500;
          margin-right: 5px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .verified-span {
          vertical-align: middle; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .verified-span img {
            width: auto;
            height: 24.77px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .wishlist-icon {
          cursor: pointer;
          color: #FF5C00;
          font-size: 20px;
          text-align: center;
          margin-left: 10px; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .wishlist-icon i:hover {
            font-weight: 900; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .price-div {
        display: flex;
        align-items: baseline; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .main-price {
          font-size: 28px;
          font-weight: 500;
          color: #444; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .discounted-price {
          font-size: 16px;
          text-decoration: line-through;
          color: #707070;
          margin: 0px 10px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .off-price {
          font-size: 16px;
          color: #FF5C00;
          font-weight: 500;
          display: flex;
          align-items: center; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .off-price button {
            border: 0px !important;
            background-color: transparent; }
            .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .off-price button i {
              background: #cfcfcf;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              line-height: 20px;
              font-size: 12px;
              margin-left: 5px;
              text-align: center;
              color: #003574; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .desc-p {
        font-size: 14px;
        color: #707070;
        margin-bottom: 10px; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li {
        font-size: 14px;
        list-style: none;
        font-weight: 500;
        color: #707070;
        margin-bottom: 10px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li a {
          color: #003574;
          transition: all 0.5s ease;
          font-weight: 400;
          font-size: 13px; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li a:hover {
            cursor: pointer;
            color: #FF5C00; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock {
          text-align: center; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus .modal-title, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock .modal-title {
            font-size: 18px;
            color: #fff; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus button.close, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock button.close {
            font-size: 25px;
            color: #fff; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus .status-table tr td .open, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock .status-table tr td .open {
            background: green;
            padding: 3px 5px;
            border-radius: 4;
            color: #fff; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus .status-table tr td .closed, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock .status-table tr td .closed {
            background: red;
            padding: 3px 5px;
            border-radius: 4;
            color: #fff; }
    .single-zoom-wrapper .right-zoom-img .location-form select {
      border-radius: 0px; }
    .single-zoom-wrapper .right-zoom-img .location-form input {
      border-radius: 0px; }
    .single-zoom-wrapper .right-zoom-img .location-form .btn-demand-single {
      width: 100%;
      border-radius: 0px;
      transition: all .5s ease;
      margin-top: 28.5px;
      background-color: #003574;
      font-size: 14px;
      border-color: #003574; }
      .single-zoom-wrapper .right-zoom-img .location-form .btn-demand-single:hover {
        background: #333;
        cursor: pointer;
        border-color: #333; }
    .single-zoom-wrapper .right-zoom-img .alert-demand {
      text-align: center;
      margin: 20px 0px;
      font-size: 14px;
      font-weight: 500;
      padding: 10px; }
    .single-zoom-wrapper .right-zoom-img #demandSingleModal #demandSingleModalTitle {
      font-size: 16px; }
    .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper {
      margin: 10px 0px; }
      .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-first {
        border: 1px solid #cfcfcf;
        padding: 10px;
        position: relative; }
        .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-first h3 {
          background: #fff;
          font-size: 15px;
          position: absolute;
          top: -14px;
          padding: 5px 12px;
          font-weight: 500; }
        .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-first .demand-list-div {
          padding: 10px 5px; }
          .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-first .demand-list-div p {
            font-weight: 500;
            color: #333; }
            .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-first .demand-list-div p span {
              font-weight: 400;
              color: #707070;
              margin-left: 5px; }
      .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-second {
        margin-top: 10px; }
        .single-zoom-wrapper .right-zoom-img #demandSingleModal .demand-div-wrapper .demand-div-second .alert {
          text-align: center;
          border-radius: 0px;
          font-weight: 500; }
    .single-zoom-wrapper .right-zoom-img #buySingleModal #buySingleModalTitle {
      font-size: 16px; }
    .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper {
      margin: 10px 0px; }
      .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-first {
        border: 1px solid #cfcfcf;
        padding: 10px;
        position: relative; }
        .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-first h3 {
          background: #fff;
          font-size: 15px;
          position: absolute;
          top: -14px;
          padding: 5px 12px;
          font-weight: 500; }
        .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-first .buy-list-div {
          padding: 10px 5px; }
          .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-first .buy-list-div p {
            font-weight: 500;
            color: #333;
            margin-bottom: 10px;
            font-size: 14px; }
            .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-first .buy-list-div p span {
              font-weight: 400;
              color: #707070;
              margin-left: 5px; }
      .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-second {
        margin-top: 10px; }
        .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-second .alert {
          text-align: center;
          border-radius: 0px;
          font-weight: 500; }
          .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-second .alert .save-btn-modal {
            margin-left: 10px;
            height: 27px;
            padding: 0px 10px;
            font-size: 13px; }
      .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-third .map-search-div .search-map-input {
        display: flex;
        justify-content: flex-end; }
        .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-third .map-search-div .search-map-input input {
          border-radius: 0px;
          width: 300px;
          height: 30px;
          font-size: 12px; }
        .single-zoom-wrapper .right-zoom-img #buySingleModal .buy-div-wrapper .buy-div-third .map-search-div .search-map-input .save-btn-modal {
          height: 30px;
          padding: 0px 10px;
          font-size: 13px; }
    .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs {
      border: 1px solid #cfcfcf; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs .nav-item {
        margin-bottom: 0px;
        border-right: 1px solid #cfcfcf; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs .nav-item .nav-link {
          border: 0px;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.6px;
          color: #444;
          padding: 8px 20px; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs .nav-item .active {
          margin-bottom: 0px;
          border-bottom: 2px solid #eb5339;
          position: relative;
          top: 1px; }
    .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content {
      padding: 20px 30px;
      border: 1px solid #cfcfcf;
      border-top: 0px;
      text-align: justify;
      line-height: 23px; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .feature-single-user-ul li {
        list-style: none; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .feature-single-user-ul li:before {
          content: '-';
          margin-right: 5px;
          font-weight: 500;
          font-size: 18px; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table {
        text-align: center; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr th {
          font-size: 14px; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td {
          vertical-align: middle;
          font-size: 14px;
          font-weight: 500;
          color: #707070; }
          @media only screen and (max-width: 1400px) {
            .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td .quantity-form .input-group-lg .input-group-prepend .input-group-text {
              padding: .5rem; } }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td .quantity-form .input-width {
            width: 60px; }
            @media only screen and (max-width: 1400px) {
              .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td .quantity-form .input-width {
                width: 60px; } }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td #viewDemandPattern {
            text-align: center; }
            .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td #viewDemandPattern .modal-title {
              font-size: 18px;
              color: #444; }
            .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td #viewDemandPattern button.close {
              font-size: 25px; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul {
        display: flex;
        justify-content: flex-end; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul li {
          list-style: none;
          display: inline-block;
          margin-right: 10px; }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul li:last-child {
            margin-right: 0px; }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul li select {
            font-size: 14px !important; }
    .single-zoom-wrapper .right-zoom-img .p-b-20 {
      padding-bottom: 20px; }
    .single-zoom-wrapper .right-zoom-img .single-product-review {
      float: left;
      border-top: 1px solid #cfcfcf; }
      .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper {
        margin-top: 30px;
        border: 1px solid #cfcfcf;
        padding: 10px;
        padding-top: 0px !important; }
        .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;
          margin-top: -12px;
          padding: 0px 10px; }
          .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-title .review-title-first {
            display: flex;
            align-items: center; }
            .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-title .review-title-first span {
              background: #FF5C00;
              font-size: 12px;
              color: #fff;
              padding: 3px 5px;
              border-radius: 4px;
              font-weight: 500;
              letter-spacing: 0.9px;
              margin-right: 5px; }
            .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-title .review-title-first h5 {
              font-size: 15px;
              margin-left: 5px; }
          .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-title p {
            font-weight: 500;
            font-size: 13px;
            color: #444; }
        .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-info {
          font-size: 12px;
          margin-top: 10px;
          color: #444;
          padding: 2px 10px; }
          .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-info .response-review .response-div {
            display: flex;
            justify-content: space-between;
            margin-left: 10px;
            margin-top: 10px; }
            .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-info .response-review .response-div .title {
              font-size: 12px;
              font-weight: 500;
              color: #444; }
              .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-info .response-review .response-div .title i {
                font-size: 12px; }
            .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-info .response-review .response-div .date {
              font-size: 12px;
              font-weight: 500;
              color: #444; }
          .single-zoom-wrapper .right-zoom-img .single-product-review .single-product-review-item .single-review-wrapper .review-info .response-review .info {
            background: #eee;
            padding: 10px;
            margin-left: 10px;
            margin-top: 5px; }

.related-product {
  background-color: #fff; }
  .related-product .white-card {
    background: #eee; }
  .related-product .related-h3 {
    font-size: 18px;
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px; }

.save-btn-modal {
  background-color: #003574;
  font-size: 14px;
  border-radius: 0px;
  border-color: #003574;
  color: #fff; }
  .save-btn-modal:hover {
    background: #333;
    cursor: pointer;
    border-color: #333; }

.close-btn-modal {
  background-color: #333;
  font-size: 14px;
  border-radius: 0px;
  border-color: #333;
  color: #fff; }
  .close-btn-modal:hover {
    background: #003574;
    cursor: pointer;
    border-color: #003574; }

.m-l-10 {
  margin-left: 10px; }

.btn-buy-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; }
  .btn-buy-wrapper .btn-buy-single {
    align-items: center; }
  .btn-buy-wrapper .info-buy-btn {
    font-size: 12px;
    align-items: center;
    border-radius: 0;
    margin-left: 10px;
    background: #003574;
    border-color: #003574;
    width: 6%; }

.area-lbl-single-prt {
  font-size: 14px;
  list-style: none;
  font-weight: 500;
  color: #707070; }

.modal-header {
  background: #003574;
  color: #fff; }

.color-fff {
  color: #fff; }

.al-cat-search-select {
  width: 250px;
  border-radius: 0px;
  height: 45px;
  font-size: 13px;
  color: #707070;
  font-weight: 500; }

.notification-a-header:after {
  content: ' ';
  display: none; }

.hover-dis-a-noti {
  position: absolute;
  background: #fff;
  width: 350px;
  z-index: 1000;
  right: 0px !important;
  border: 1px solid #cfcfcf;
  top: 40px !important;
  border-bottom: 0px;
  left: auto !important;
  transform: none !important;
  padding: 0px; }

.noti-hover-display-ul li {
  list-style: none;
  border-bottom: 1px solid #cfcfcf; }
  .noti-hover-display-ul li a {
    padding: 5px 10px;
    display: block;
    color: #000;
    align-items: center;
    display: flex; }
    .noti-hover-display-ul li a i {
      margin-left: 5px; }
    .noti-hover-display-ul li a p {
      font-size: 13px;
      margin-left: 10px; }
      .noti-hover-display-ul li a p span {
        font-size: 11px;
        text-align: right;
        display: block; }

.select2-edit span.select2.select2-container.select2-container--default {
  width: 100% !important; }

.select2-edit .select2-container--default .select2-selection--single {
  height: 30.5px; }

.select2-edit .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30.5px;
  font-size: 13px; }

.product-desc-tabs {
  margin-top: 10px; }

/*------------------------
----Terms-&-Conditions----
-------------------------*/
.box-modal {
  background: #fff;
  padding: 2rem;
  width: 100%;
  margin: .5rem 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13); }

.terms .page-title {
  font-size: 1.7rem;
  margin-bottom: 1rem; }

.term-group:not(:last-child) {
  margin-bottom: 2rem; }

/*------------------------
----Terms-&-Conditions----
-------------------------*/
/*------------------------
------Privacy-Policy------
-------------------------*/
.privacy .section-title span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #003574; }

.privacy-list {
  list-style: circle;
  margin-left: 2rem; }

.privacy-list li {
  margin: 1rem 0; }

/*------------------------
------Privacy-Policy------
-------------------------*/
/*------------------------
-----------FAQ-Main------
-------------------------*/
.faq-main .page-title {
  margin-bottom: 2rem;
  font-size: 2.4rem; }

.faq-group .faq-box-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.faq-group .faq-box-wrap:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

.faq-question {
  font-size: 1.5rem;
  color: #555;
  padding: 1.5rem 0;
  cursor: pointer; }

.faq-question.active {
  color: var(--color-secondary); }

.faq-question span i {
  font-size: 1rem; }

.faq-answer {
  font-size: 1.3rem;
  color: #777;
  line-height: 1.9;
  margin-bottom: 1.5rem; }

.faq-answer-wrap {
  display: none; }

.faq-main .login-form input,
.faq-main .login-form textarea {
  margin-bottom: 1rem; }

/*------------------------
-----------FAQ-Main------
-------------------------*/
.dropdown-submenu:hover > .dropdown-menu {
  display: inline-table; }

/*------------------------
-----------App-Page------
-------------------------*/
.app-wrapper {
  padding-left: 1rem; }

.app-heading {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 300; }

.app-heading span {
  display: block;
  font-size: 4.2rem;
  font-weight: 500; }

.play-link {
  margin: 2rem 0; }

.play-link li {
  display: inline-block;
  margin: 0 1rem; }

.play-link li:first-child {
  margin-left: 0; }

.app-wrapper p {
  color: rgba(255, 255, 255, 0.95);
  /* color: #000; */
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
  font-weight: 600;
  font-size: 2rem; }

.app-wrapper .login-form {
  margin-top: 2rem;
  display: flex;
  width: 40%; }

.app-wrapper .login-form input {
  width: 75%;
  margin: 0; }

.app-wrapper .login-form button {
  width: 25%;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0; }

@media only screen and (max-width: 800px) {
  .app-wrapper .login-form {
    width: 75%; } }
@media only screen and (max-width: 500px) {
  .app-wrapper .login-form {
    width: 100%; } }
.get-app-common-pad {
  padding: 6rem 0rem; }

.app-review-mains {
  padding: 5rem 0 4rem; }

.app-logo-wraps {
  display: flex;
  align-items: center; }

.app-logos {
  border: 1px solid #f3857283;
  border-radius: 10px;
  background: #f3857248;
  margin-right: 2rem;
  width: 129px; }

.no-logos-div {
  border: 0px;
  border-radius: 0px;
  background: transparent;
  width: 100%;
  margin-right: 0px; }

.app-logos img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.app-reviews .topics {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .4rem; }

.app-reviews .app-rates {
  font-size: 1.8rem;
  line-height: 1.3; }

.app-reviews .app-rates span {
  display: block;
  font-size: 5rem;
  font-weight: 600; }

.inner-review-wrappers {
  flex: 4;
  display: flex;
  align-items: center; }

.app-reviews {
  flex: 1; }

.rating-stars-wrappers.clearfix {
  display: flex;
  flex: 2; }

.starss {
  line-height: 1.6rem; }

.starss li {
  display: inline-block; }

.stars-groups {
  flex: 2; }

.starss li i {
  font-size: 15px;
  color: #bbb; }

.starss li.active i {
  color: #FF5C00; }

.progress-bar-groupss {
  padding-top: .7rem;
  flex: 3; }

.progress-bar-groupss .progress {
  height: .7rem; }

.progress-bar-groupss .progress:not(:last-child) {
  margin-bottom: .9rem; }

.progress-bar-groupss .progress .progress-bar {
  background: #003574; }

@media only screen and (max-width: 500px) {
  .app-logo-wraps {
    display: block; }

  .app-logos {
    margin-bottom: 1rem; }

  .app-logos,
  .inner-review-wrappers {
    width: 100%; } }
.app-review-mains .owl-prev,
.app-review-mains .owl-next {
  position: absolute;
  top: -5rem;
  outline: none !important; }

.app-review-mains .owl-prev {
  right: 8rem; }

.app-review-mains .owl-next {
  right: 2rem; }

.register-boxs {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 3rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13); }

.app-review-mains .owl-prev i,
.app-review-mains .owl-next i {
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.03);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #FF5C00; }

.app-testimonial-wraps .dates {
  font-size: 1.2rem;
  color: #FF5C00; }

.app-testimonial-wraps .testimonialss {
  margin: 1rem 0;
  font-size: 1.5rem; }

.name-reviews p {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: #FF5C00; }

.unread-noti {
  background-color: #edf2fa; }

.read-noti {
  background-color: #fff; }

.noti-title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 10px; }
  .noti-title-div h5 {
    font-size: 14px;
    font-weight: 500;
    color: #444; }
  .noti-title-div a {
    color: #003574 !important;
    font-size: 12px;
    font-weight: 400; }
    .noti-title-div a:hover {
      text-decoration: underline; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #707070;
  position: absolute;
  right: 18px;
  top: -8px; }

.noti-title-div-see {
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid #cfcfcf; }
  .noti-title-div-see a {
    color: #003574;
    font-size: 13px;
    font-weight: 500; }

.noti-height-dis {
  height: auto;
  overflow-y: scroll;
  max-height: 280px; }

.no-noti {
  text-align: center;
  padding: 10px 0px; }
  .no-noti p {
    font-size: 18px; }

.xzoom-thumbs {
  height: auto;
  overflow-y: scroll;
  max-height: 350px; }

.xzoom-thumbs::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

.xzoom-thumbs::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #fff;
  border: 1px solid #fff; }

.xzoom-thumbs::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #FF5C00;
  border: 1px solid #aaa; }

.xzoom-thumbs::-webkit-scrollbar-thumb:hover {
  background: #fff; }

.xzoom-thumbs::-webkit-scrollbar-thumb:active {
  background: #FF5C00; }

h5#buySingleModalTitle {
  font-size: 16px; }

.tracking-div-wrapper {
  text-align: center; }
  .tracking-div-wrapper .tracking-img {
    width: calc(100% - 70%);
    margin: 0px auto; }
    .tracking-div-wrapper .tracking-img img {
      width: 100%;
      height: auto;
      object-fit: cover; }
  .tracking-div-wrapper .text-tracking-info {
    margin-top: 20px; }
    .tracking-div-wrapper .text-tracking-info h1 {
      font-size: 50px;
      font-weight: 600;
      color: #003574; }
    .tracking-div-wrapper .text-tracking-info h3 {
      font-size: 40px;
      font-weight: 600;
      color: #FF5C00; }

.section-list-cat {
  padding: 3rem 0rem; }

.user-category-left-wrapper {
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-bottom: 0px; }
  .user-category-left-wrapper:last-child {
    border-bottom: 1px solid #cfcfcf; }
  .user-category-left-wrapper .btn {
    background-color: #FF5C00;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.6px;
    font-weight: 500;
    border: 0px;
    border-radius: 0px;
    transition: all 0.5s ease; }
    .user-category-left-wrapper .btn:hover {
      background: #003574;
      cursor: pointer; }
  .user-category-left-wrapper .user-category-title {
    border-bottom: 2px solid #cfcfcf; }
    .user-category-left-wrapper .user-category-title h3 {
      border-bottom: 2px solid #FF5C00;
      width: 100%;
      margin-bottom: -2px;
      padding-bottom: 8px;
      font-size: 15px;
      font-weight: 600;
      color: #FF5C00; }
  .user-category-left-wrapper .user-category-info {
    margin-top: 6px; }
    .user-category-left-wrapper .user-category-info .custom-control {
      position: relative;
      display: inline-block;
      min-height: 0rem;
      padding-left: 1.5rem;
      width: 100%;
      cursor: pointer; }
      .user-category-left-wrapper .user-category-info .custom-control label.custom-control-label {
        font-size: 13px;
        font-weight: 500;
        color: #444;
        cursor: pointer;
        margin-left: 5px; }
        .user-category-left-wrapper .user-category-info .custom-control label.custom-control-label:after {
          width: 13px;
          height: 13px; }
        .user-category-left-wrapper .user-category-info .custom-control label.custom-control-label:before {
          width: 13px;
          height: 13px; }
  .user-category-left-wrapper .user-cat-size-color-div {
    margin-top: 6px; }
    .user-category-left-wrapper .user-cat-size-color-div .custom-control {
      position: relative;
      display: inline-block;
      min-height: 0rem;
      padding-left: 1.5rem;
      width: 100%;
      cursor: pointer; }
      .user-category-left-wrapper .user-cat-size-color-div .custom-control label.custom-control-label {
        font-size: 13px;
        font-weight: 500;
        color: #444;
        cursor: pointer;
        margin-left: 5px; }
        .user-category-left-wrapper .user-cat-size-color-div .custom-control label.custom-control-label:after {
          width: 13px;
          height: 13px; }
        .user-category-left-wrapper .user-cat-size-color-div .custom-control label.custom-control-label:before {
          width: 13px;
          height: 13px; }

.cat-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .cat-grid .custom-grid-item {
    width: calc(100% / 6);
    padding: 0 .5rem; }
    @media only screen and (max-width: 1370px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 4); } }
    @media only screen and (max-width: 990px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 3); } }
    @media only screen and (max-width: 750px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 2); } }
    @media only screen and (max-width: 350px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 1); } }
    .cat-grid .custom-grid-item .stock-product {
      font-size: 13px;
      color: #444;
      font-weight: 500; }
      .cat-grid .custom-grid-item .stock-product span {
        font-weight: 400; }
    .cat-grid .custom-grid-item .price-product {
      font-size: 13px;
      color: #444;
      font-weight: 500; }
      .cat-grid .custom-grid-item .price-product span {
        font-weight: 400; }
    .cat-grid .custom-grid-item .status {
      font-size: 13px;
      color: #444;
      font-weight: 500;
      margin-top: 5px; }
      .cat-grid .custom-grid-item .status .closed {
        font-weight: 400;
        background-color: red;
        padding: 3px 5px;
        color: #fff;
        border-radius: 4px; }
      .cat-grid .custom-grid-item .status .open {
        font-weight: 400;
        background-color: green;
        padding: 3px 5px;
        color: #fff;
        border-radius: 4px; }

.user-dashboard {
  margin: 30px 0px 40px 0px; }

#user-dashboard-info {
  padding: 20px; }

.left-side-user-dashboard {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  box-shadow: 0px 0px 15px #cfcfcfc2; }

.left-side-user-dashboard .header {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5; }

.left-side-user-dashboard .header .img_holder img {
  border-radius: 50%;
  width: 60px;
  height: 60px; }

.left-side-user-dashboard .header .title_holder {
  margin-left: 15px; }

.left-side-user-dashboard .header .prof_who {
  display: flex;
  align-items: center; }

.left-side-user-dashboard .content ul {
  list-style-type: none;
  margin: 0px; }

.left-side-user-dashboard .content ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cfcfcf; }

.left-side-user-dashboard .content ul .left-nav .nav-link {
  padding: 8px 0px;
  font-size: 13px;
  color: #797979;
  letter-spacing: 0.5px;
  font-weight: 500; }

.left-side-user-dashboard .content ul .left-nav .nav-link.active, .content.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #003574;
  border-radius: 0px; }

.left-side-user-dashboard .content ul li.label {
  font-size: 13px;
  color: #444;
  background-color: #eee;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 8px 0px; }

.left-side-user-dashboard .header .prof_who .title_holder span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #444; }

.left-side-user-dashboard .header .prof_who .title_holder h3 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #444; }

.right-user-dashboard {
  box-shadow: 0px 0px 15px #cfcfcfc2;
  background-color: #fff;
  height: 100%; }

.right-user-dash-edit {
  padding: 20px; }

.right-user-dash-edit .right-user-dash-edit-group label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  text-transform: uppercase; }

.right-user-dash-edit .right-user-dash-edit-group input {
  height: 35px;
  border-radius: 0px;
  font-size: 13px; }

.right-user-dashboard .user-dash-profile-img {
  display: inline-block;
  clear: both;
  position: relative;
  margin-bottom: 25px; }

.right-user-dashboard .user-dash-profile-img img {
  position: relative;
  z-index: 10; }

.right-user-dashboard .user-dash-profile-img .changer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;
  z-index: 20;
  margin-top: -15px; }

.right-user-dashboard .user-dash-profile-img .changer .inputfile {
  width: 0.1px !important;
  min-width: auto !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1 !important; }

.right-user-dashboard .user-dash-profile-img .changer label {
  font-size: 12px;
  letter-spacing: .5px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0px;
  background-color: #003574;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  width: 80%;
  padding: 6px 0px; }

.right-user-dash-view-group label {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #444; }

.right-user-dash-view-group h5 {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: #797979; }

.btn-add-product {
  background-color: #003574;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  transition: all 0.5s ease; }

.btn-add-product:hover {
  background-color: #FF5C00;
  cursor: pointer;
  transition: all .3s ease; }

.btn-change-password {
  background-color: #003574;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  transition: all 0.5s ease; }

.btn-change-password:hover {
  background-color: #FF5C00;
  cursor: pointer;
  transition: all .3s ease; }

#user-dashboard-area-request {
  padding: 20px; }

.area-request-div label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  text-transform: uppercase; }

.area-request-div .select2.select2-container {
  width: 100% !important; }

.area-request-div .select2-container--default .select2-selection--multiple {
  border-radius: 0px; }

.area-request-div .select2-selection .select2-selection__rendered {
  color: #666;
  font-size: 13px; }

.area-request-div .select2-selection__choice {
  padding: 0px 8px !important;
  margin: 5px 5px 0px 0px !important;
  border-radius: 0px !important; }

.user-dashboard-tbl {
  margin-top: 20px; }

.user-dashboard-tbl .table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px; }

.user-dashboard-tbl .table thead th {
  vertical-align: bottom;
  border: 1px solid #b7b7b7;
  font-size: 14px;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }

.user-dashboard-tbl .table-bordered td {
  border: 1px solid #b7b7b7;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  text-align: center; }

.area-request-list-ul ul li {
  display: inline-block; }

.area-request-list-ul ul li:after {
  content: ","; }

.area-request-list-ul ul li:last-child:after {
  content: ""; }

.user-dash-profile-img.user-dashboard-logo img {
  margin: auto;
  height: auto; }

.user-dashboard-logo {
  display: flex !important; }

.user-dash-profile-img img {
  margin: auto;
  width: 100%;
  height: 160px; }

.user-dash-profile-img {
  border: 1px solid #cfcfcf;
  height: 160px;
  width: 100%;
  display: flex; }

.form-group.right-user-dash-view-group {
  margin-bottom: 0px; }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.alert-vendor {
  background-color: #003574;
  color: white; }

.user-dashboard-tbl .table-bordered td ul li {
  list-style: none; }

.btn.btn-delete-product {
  background: red;
  color: #fff;
  font-size: 13px;
  padding: 3px 8px; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 0px;
  height: 35px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px; }

.wishlist-img-wrap {
  height: 8rem;
  width: 8rem; }
  .wishlist-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.wishlist-main tbody tr td {
  padding: 1rem;
  vertical-align: middle;
  color: #333; }

.btn-load-more-wishlist {
  background: #003574;
  color: #fff;
  border-radius: 0px; }

.add-product-right-side {
  padding: 20px; }

.btn-load-more-wishlist {
  background: #003574;
  color: #fff;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 12px; }

.wishlist-main {
  margin-top: 15px; }

.shipping-tab {
  padding: 20px; }

.breadcrumb-main {
  padding: 1rem 0; }

.breadcrumb {
  margin: 0;
  background: transparent; }

.breadcrumb-main h3 {
  color: #fff;
  line-height: 2.1;
  text-transform: uppercase; }

.breadcrumb-item,
.breadcrumb-item a {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8); }

.breadcrumb-item a:hover,
.breadcrumb-item.active {
  /* color: var(--color-secondary); */
  color: #fff; }

.breadcrumb-main .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.8); }

.message-image-wrap {
  height: 35rem;
  width: 100%;
  position: relative; }

.message-image-wrap::before {
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 50%, white 100%);
  /* background: linear-gradient(to right, rgba(255, 255, 255, .1) 60%, rgba(255, 255, 255, 1) 100%); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.message-image-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0; }

.message-content-wrap {
  width: 120%;
  margin-left: -10rem; }

.section-title {
  font-size: 3rem;
  color: #333;
  font-weight: 600;
  padding-top: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
  position: relative; }

.section-title::before {
  content: '';
  height: 3px;
  width: 8rem;
  background: #003574;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5rem; }

.ceo-name {
  font-weight: 500;
  color: #333;
  font-size: 1.7rem;
  margin-top: 1rem; }

@media only screen and (max-width: 992px) {
  .message-content-wrap {
    margin-top: 4rem;
    width: 100%;
    margin-left: 0; }

  .message-image-wrap::before {
    background: transparent; } }
/*------------------------
------Message-CEO------
-------------------------*/
/*------------------------
------Mission-Vision------
-------------------------*/
.image-overlay,
.mission-img img,
.mission-vision-wrap h4,
.mission-vision-wrap .normal-content {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

.mission-vision-wrap {
  background: #eee;
  padding: 4rem 3rem;
  text-align: center;
  position: relative;
  z-index: 5;
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); }

.image-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0; }

.image-overlay::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.image-overlay img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.mission-img img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-sizing: content-box; }

.mission-vision-wrap h4 {
  text-transform: capitalize;
  font-size: 1.7rem;
  color: #444;
  font-weight: 500;
  margin: 2rem 0; }

.mission-vision-wrap .normal-content {
  font-size: 1.2rem; }

.mission-vision-wrap:hover .image-overlay {
  opacity: 1; }

.mission-vision-wrap:hover .mission-img img {
  border-color: #fff; }

.mission-vision-wrap:hover h4 {
  color: #fff; }

.mission-vision-wrap:hover .normal-content {
  color: rgba(255, 255, 255, 0.9); }

/*------------------------
------Mission-Vision------
-------------------------*/
/*------------------------
------Our-Team------
-------------------------*/
.team-wrap {
  margin: 1rem 0; }

.team-content,
.team-content h5,
.team-content p,
.team-img::before,
.team-social-wrap {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

.team-img {
  width: 100%;
  height: 20rem;
  position: relative;
  overflow: hidden; }

.team-img::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0; }

.team-img img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.team-content {
  padding: 2rem 0 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.team-content h5 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: .7rem; }

.team-content p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #777; }

.team-social-wrap {
  background: #003574;
  padding: .5rem 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%); }

.team-social-wrap ul li {
  margin: 0 1rem; }

.team-social-wrap ul li a {
  color: #fff; }

.team-wrap:hover .team-img::before {
  opacity: 1; }

.team-wrap:hover .team-social-wrap {
  transform: translate(0); }

.team-wrap:hover .team-content {
  background: #333340; }

.team-wrap:hover .team-content h5 {
  color: #fff; }

.team-wrap:hover .team-content p {
  color: rgba(255, 255, 255, 0.8); }

/* Owl-Side Arrow */
.side-arr .owl-prev,
.side-arr .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none !important; }

.side-arr .owl-prev {
  left: -2rem; }

.side-arr .owl-next {
  right: -2rem; }

.side-arr .owl-prev i,
.side-arr .owl-next i {
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.03);
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #003574; }

@media only screen and (max-width: 700px) {
  .side-arr .owl-prev,
  .side-arr .owl-next {
    display: none; } }
/*------------------------
------Our-Team------
-------------------------*/
.contact-main .login-form label {
  font-weight: 500; }

.contact-logo {
  width: 100%;
  height: 6rem;
  margin-bottom: 1.5rem; }

.contact-logo img {
  height: 100%;
  object-fit: contain; }

.mini-title {
  font-weight: 500;
  font-size: 1.6rem;
  color: #333;
  margin-bottom: .8rem; }

.contact-details {
  margin: .5rem 0; }

.contact-details li {
  margin: 1.5rem 0; }

.contact-details li span {
  color: #003574;
  margin-right: 1rem; }

.contact-main .mini-comp-logo li {
  margin-left: 1rem;
  margin-right: 1rem; }

.contact-main .mini-comp-logo li a {
  color: #555;
  font-size: 2rem; }

.facebook:hover {
  color: #4267b2 !important; }

.twitter:hover {
  color: #38A1F3 !important; }

.instagram:hover {
  color: #F56040 !important; }

.linkedin:hover {
  color: #0077B5 !important; }

.login-main {
  padding: 3rem 0 5rem; }

.big-heading,
.page-title {
  font-weight: 700;
  color: #333; }

.big-heading {
  font-size: 3.2rem; }

.page-title {
  font-size: 2.2rem; }

.login-form h4 {
  margin-bottom: 2rem; }

.login-form .form-group small,
.login-form .form-group label {
  font-weight: 300;
  font-size: 1.4rem; }

.login-form .form-group small {
  font-size: 1.2rem; }

.login-form input:not([type="checkbox"]),
.login-form textarea,
.login-form select {
  padding-left: 1rem;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 3.5rem;
  color: #666;
  margin-bottom: 2rem;
  background: #fff; }

.login-form textarea {
  height: 10rem;
  padding-top: .8rem; }

.form-button,
.short-button {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background: #003574;
  border-radius: 0;
  border: 0;
  outline: none !important;
  display: inline-block; }

.form-button {
  width: 100%;
  padding: 1rem; }

.short-button:target,
.short-button:focus,
.form-button:target,
.form-button:focus {
  outline: none !important; }

.short-button:hover,
.form-button:hover {
  background: #333; }

.short-button {
  padding: 1rem 3rem; }

.lost-password {
  background: transparent;
  outline: none !important;
  border: none;
  font-size: 1.2rem;
  padding-bottom: .5rem;
  margin-top: 1.5rem;
  position: relative; }

.lost-password::before {
  content: '';
  height: 2px;
  width: 0;
  background: #003574;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.lost-password:hover {
  color: #FF5C00; }

.lost-password:hover::before {
  width: 100%; }

#recover {
  display: none; }

.normal-content {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.7; }

a.form-button {
  text-align: center;
  display: inline-block;
  color: #fff !important;
  margin-top: 1rem; }

.login-msg {
  /* border-radius: 5px; */
  padding: 1rem;
  background: #f2dede;
  border: 1px solid #a746441a;
  margin-bottom: 2rem; }

.login-msg i,
.login-msg p {
  font-size: 1.1rem;
  color: #a74544; }

.login-msg p {
  line-height: 2.4; }

.login-msg .close-icon {
  cursor: pointer; }

.register-main {
  padding: 3rem 0; }

.register-phone-wrap {
  height: 55rem;
  width: 100%;
  z-index: 0; }

.register-phone-wrap img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.register-box {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.03);
  padding: 3rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13); }

.sign-up-icon {
  padding: 2.5rem 0;
  position: relative;
  z-index: 5; }

.sign-up-icon::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  z-index: -5; }

.sign-up-icon::after {
  content: '';
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -3; }

.sign-up-icon img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: contain; }

.register-main .login-form textarea,
.register-main .login-form input {
  margin: .7rem 0; }

.login-form input[type="file" i].form-control {
  border-radius: 0;
  padding-top: 6px; }

.register-main .form-group label {
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 500; }

.register-main .form-group label ~ input {
  margin-top: 0; }

.login-form input.form-check-input {
  margin-left: -1rem;
  margin-top: .5rem; }

.login-form label.form-check-label {
  font-size: 1.3rem;
  margin-left: 1rem; }

.register-main .login-form button {
  margin-top: 1rem; }

.faq-main .login-form textarea,
.register-main .login-form textarea {
  max-height: 10rem; }

.register-main .tog-btn .form-button {
  background: transparent;
  border: 1px solid #003574;
  color: #003574; }

.register-main .tog-btn .form-button.active,
.register-main .tog-btn .form-button:hover {
  color: #fff;
  background: #003574; }

#vendor-signup {
  display: none; }

.h-new {
  height: 85rem; }

@media only screen and (max-width: 991px) {
  .h-new {
    height: auto; } }
/* Select2-Fix */
.mn-7 {
  margin-bottom: .7rem; }

.login-form .select2-container {
  width: 100% !important; }

.login-form .select2-selection {
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 3.5rem;
  background: #fff;
  font-size: 1.3rem;
  line-height: 3.5rem;
  border-radius: 0;
  width: 100%; }

.login-form .select2-selection .select2-selection__rendered {
  width: 100% !important;
  line-height: 3.5rem;
  color: #666;
  font-size: 1.3rem; }

.login-form .select2-selection .select2-selection__arrow {
  margin-top: .6rem; }

.login-form .select2-selection .select2-selection__rendered .select2-search {
  padding-left: .5rem !important; }

.login-form .select2-selection .select2-selection__choice {
  margin: 0;
  line-height: 1.8;
  margin-top: .4rem;
  margin-right: .5rem; }

.login-form .select2-selection .select2-search__field {
  margin: 0 !important;
  width: 100% !important; }

.login-form .select2-container .select2-results__option {
  font-size: 5px !important; }

.select2-container .select2-results__option {
  font-size: 1.3rem !important; }

.add-product-right-side h3 {
  margin-bottom: 10px; }
.add-product-right-side .notification-items {
  border: 1px solid #cfcfcf;
  padding: 10px 5px;
  border-bottom: 0px;
  display: flex;
  transition: 0.5s all ease; }
  .add-product-right-side .notification-items:last-child {
    border-bottom: 1px solid #cfcfcf; }
  .add-product-right-side .notification-items:hover {
    cursor: pointer;
    background: #cccccc; }
  .add-product-right-side .notification-items .d-row-noti {
    align-items: center;
    width: 100%; }
    .add-product-right-side .notification-items .d-row-noti .notification-img {
      margin-bottom: 0px;
      text-align: center; }
      .add-product-right-side .notification-items .d-row-noti .notification-img img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 1px solid #fff; }
    .add-product-right-side .notification-items .d-row-noti .notification-info {
      position: relative; }
      .add-product-right-side .notification-items .d-row-noti .notification-info p {
        font-size: 15px;
        color: #707070; }
      .add-product-right-side .notification-items .d-row-noti .notification-info span {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 12px;
        color: #707070; }
.add-product-right-side .unread {
  background: #8e8e8e94; }
  .add-product-right-side .unread .notification-info p {
    color: #000000; }
  .add-product-right-side .unread .notification-info span {
    color: #000000; }

.p-20 {
  padding: 20px; }

.search-crumb-h3 {
  font-size: 22px;
  font-weight: 500;
  color: #003574; }

.search-crumb-h5 {
  font-size: 14px;
  font-weight: 400;
  color: #a7a4a4;
  margin-top: 5px; }

.p-t-b-20 {
  padding: 20px 0px; }

.dropdown {
  position: relative; }
  .dropdown .dropdown-pannel {
    position: absolute;
    min-width: 20rem;
    background: transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    padding-top: 1rem;
    opacity: 0;
    visibility: hidden; }
    .dropdown .dropdown-pannel .dropdown-content {
      background: #fff;
      border: 1px solid #cfcfcf; }
    .dropdown .dropdown-pannel .dropdown-item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2rem;
      text-align: left; }
      .dropdown .dropdown-pannel .dropdown-item i {
        font-size: 1.8rem;
        margin-right: 1rem; }
    .dropdown .dropdown-pannel::before, .dropdown .dropdown-pannel::after {
      content: '';
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .dropdown .dropdown-pannel::before {
      top: -1px;
      border-bottom: 11px solid #cfcfcf; }
    .dropdown .dropdown-pannel::after {
      top: 0;
      border-bottom: 11px solid #fff; }
  .dropdown:hover .dropdown-pannel {
    opacity: 1;
    visibility: visible; }
  .dropdown .dropdown-pannel.dropdown-large {
    min-width: 25rem; }
  .dropdown .drop-title {
    font-size: 1.5rem;
    color: #003574;
    margin-bottom: 1rem; }
  .dropdown .form-group label {
    font-size: 1.1rem;
    color: #777; }
  .dropdown .form-group input {
    height: 3.5rem;
    font-size: 1.3rem; }
  .dropdown label a {
    color: #FF5C00; }

.social-icons li {
  display: inline-block; }
  .social-icons li:not(:last-child) {
    margin-right: .5rem; }
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  background: #777;
  color: #fff;
  border-radius: 50%; }
  .social-icons a.facebook:hover {
    background: #213553; }
  .social-icons a.twitter:hover {
    background: #3aa8db; }
  .social-icons a.google:hover {
    background: #d04f3e; }
  .social-icons a.youtube:hover {
    background: #ed4533; }
  .social-icons a.instagram:hover {
    background: #4f86ac; }

.newsletter {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.newsletter-box {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  background: #ddd;
  color: #333;
  height: 4rem;
  font-weight: 300;
  padding: .8rem 5.5rem .8rem 1.5rem;
  font-size: 1.4rem; }

.news-submit {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none !important;
  min-height: 4rem;
  color: #003574;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-right: 1.5rem;
  font-weight: 500; }

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  margin-right: 1px; }
  .product-card:hover {
    box-shadow: 0px 3px 6px 0px rgba(109, 109, 109, 0.25);
    cursor: pointer; }
  .product-card .card-image {
    background: #fff;
    height: 18rem;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .product-card .card-image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .product-card .card-image .card-buttons {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .product-card .card-detail {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1.5rem;
    background: #fff; }
  .product-card .product-title {
    line-height: 1.7rem;
    margin: 3px 0px; }
  .product-card .product-title a {
    font-size: 1.3rem;
    color: #333;
    font-weight: 500; }
    .product-card .product-title a:hover {
      color: #FF5C00; }
  .product-card .product-price {
    font-size: 1.5rem;
    color: #003574;
    font-weight: 700;
    letter-spacing: .5px; }
    .product-card .product-price span {
      text-decoration: line-through;
      font-weight: 400;
      color: #b5b5b5;
      display: block;
      font-size: 1.3rem; }
  .product-card .rating li i {
    color: #b5b5b5;
    font-size: 1.1rem; }
    .product-card .rating li i.active {
      color: #FF5C00; }
  .product-card:hover .card-buttons {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media only screen and (max-width: 990px) {
    .card-buttons {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  .card-buttons a {
    display: inline-block;
    padding: .7rem 0;
    background: #FF5C00;
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff; }
    .card-buttons a:hover {
      background: #333; }
    .card-buttons a:first-child {
      width: 55%; }
    .card-buttons a:not(:first-child) {
      width: 15%; }

#mapdiv {
  height: 300px;
  width: 100%;
  margin: 10px 0px; }

.section-title-wrapper {
  margin-bottom: 2rem; }
  .section-title-wrapper h3 {
    font-size: 18px;
    color: #1f2022;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px; }

.title-tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .title-tab h3 {
    line-height: 1.7; }

.white-card {
  background: #fff;
  padding: 2rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.flash-sale .section-title-wrapper {
  margin-bottom: 1rem; }

.flash-product .flash-image {
  height: 24.5rem;
  width: 100%;
  position: relative; }
  .flash-product .flash-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain; }
  .flash-product .flash-image .countdown {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    left: 0;
    right: 0; }
.flash-product .button-block {
  margin-top: 1rem; }

.flash-button {
  display: flex;
  justify-content: space-between; }

.button-block {
  display: inline-block;
  background: #FF5C00;
  border: 1px solid #FF5C00;
  color: #fff;
  padding: .7rem 1rem;
  font-size: 1.3rem;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 45%;
  text-align: center; }
  .button-block i {
    margin-right: .5rem; }
  .button-block:hover {
    color: #FF5C00;
    background: transparent; }
  @media only screen and (max-width: 1400px) {
    .button-block {
      padding: .7rem .5rem; } }

.owl-nav-top-small .owl-nav {
  top: -4rem; }

.countdown ul li {
  padding: .5rem 0;
  height: auto;
  width: 5rem;
  background: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700; }
  .countdown ul li span {
    display: block;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 0.5px; }
.countdown.count-primary ul li {
  color: #fff;
  background: #FF5C00; }

.discount {
  position: absolute;
  height: 5rem;
  width: 5rem;
  background: #ff7878;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  top: 4%;
  right: 1rem;
  text-transform: uppercase; }
  .discount p {
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 14px; }
    .discount p span {
      display: block; }

.category-container {
  width: 100%; }

.category-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease; }
  .category-box:hover {
    box-shadow: 0px 3px 6px 0px #5f5e5e2b; }
  .category-box a {
    display: block;
    padding: 2rem; }
  .category-box .content {
    width: 55%; }
    .category-box .content h4 {
      font-size: 1.2rem;
      color: #333;
      letter-spacing: .5px;
      font-weight: 600; }
    .category-box .content p {
      font-size: 1.1rem;
      color: #777;
      margin-top: .5rem; }
  .category-box .image {
    height: 5rem;
    width: 40%;
    text-align: right; }
    .category-box .image img {
      height: 100%;
      object-fit: contain; }

.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  margin-left: 0px; }

.app-review-main {
  padding: 5rem 0 4rem; }

.app-logo-wrap {
  margin-top: 20px; }

.app-review .topic {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: .4rem; }

.app-rate {
  font-size: 1.8rem;
  line-height: 1.3; }

.app-rate span {
  display: block;
  font-size: 5rem;
  font-weight: 600; }

.stars {
  line-height: 1.6rem; }

.stars li {
  display: inline-block; }

.stars li i {
  font-size: .9rem;
  color: #bbb; }

.stars li.active i {
  color: #FF5C00; }

.progress-bar-group {
  padding-top: .7rem;
  width: 100%; }

.progress-bar-group .progress {
  height: .7rem; }

.progress-bar-group .progress:not(:last-child) {
  margin-bottom: .9rem; }

.progress-bar-group .progress .progress-bar {
  background: #FF5C00; }

@media only screen and (max-width: 500px) {
  .app-logo-wrap {
    display: block; }

  .app-logo {
    margin-bottom: 1rem; }

  .app-logo,
  .inner-review-wrapper {
    width: 100%; } }
.rate-review {
  display: flex;
  margin-top: 10px; }
  .rate-review label {
    font-weight: 500; }
  .rate-review ul {
    margin-left: 10px; }
    .rate-review ul li i {
      font-size: 12px; }

.write-review .btn-review {
  border-radius: 0px;
  background: #FF5C00;
  border-color: #FF5C00;
  margin-top: 5px;
  float: right;
  font-size: 12px; }
.write-review textarea {
  font-size: 12px;
  border-radius: 0px; }

.index-vendor-section .vendor-wrapper {
  height: 30rem;
  position: relative; }
  .index-vendor-section .vendor-wrapper img {
    height: 100%;
    width: 100%; }
  .index-vendor-section .vendor-wrapper .vender-hero-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2rem; }
    .index-vendor-section .vendor-wrapper .vender-hero-content .hero-title {
      font-size: 3.8rem;
      color: #fff;
      margin: 4rem 0 2rem; }
      @media only screen and (max-width: 465px) {
        .index-vendor-section .vendor-wrapper .vender-hero-content .hero-title {
          font-size: 2.5rem; } }
    .index-vendor-section .vendor-wrapper .vender-hero-content .input-group .input-group-text {
      background: #fff;
      border: none;
      font-size: 1.8rem; }
    .index-vendor-section .vendor-wrapper .vender-hero-content .input-group input {
      border: none;
      height: 4rem;
      font-size: 14px; }

.hero-button {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  padding: 0 2.5rem;
  background: #003574;
  color: #fff;
  border: 1px solid #003574; }
  .hero-button:hover {
    color: #fff;
    border-color: #fff;
    background: transparent; }

.vendor-testimonial {
  padding: 3rem 0 1rem; }

.testimonial-container .image {
  margin-right: 1rem; }
  .testimonial-container .image img {
    height: 12rem;
    width: 12rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.125); }
.testimonial-container .content .testimonial {
  font-size: 1.6rem;
  color: #777;
  font-style: italic;
  line-height: 1.6; }
.testimonial-container .content .name {
  color: #333;
  font-size: 1.5rem;
  letter-spacing: .5px;
  margin-top: 2rem; }

.vendor-introduction {
  border-bottom: 1px solid #fff; }
  .vendor-introduction .nav {
    border: none;
    margin-bottom: 1rem; }
    .vendor-introduction .nav .nav-item {
      width: 50%; }
    .vendor-introduction .nav .nav-link {
      width: 100%;
      text-align: center;
      border-radius: 0;
      padding: 2rem;
      text-transform: uppercase;
      border: none;
      background: #fff;
      color: #003574; }
      .vendor-introduction .nav .nav-link.active {
        border: none;
        background: #003574;
        color: #fff;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
  .vendor-introduction .points {
    padding: 1.5rem;
    padding-right: .5rem;
    border: 1px solid transparent; }
    .vendor-introduction .points:hover {
      border: 1px solid rgba(0, 0, 0, 0.125); }
    .vendor-introduction .points .image img {
      height: 9rem;
      width: 9rem;
      object-fit: contain;
      margin-right: 1.5rem; }
    .vendor-introduction .points .content .title {
      margin-bottom: .5rem; }
    .vendor-introduction .points .content p {
      font-size: 1.4rem;
      color: #777; }
  .vendor-introduction .hero-button {
    margin-top: 1rem; }
    .vendor-introduction .hero-button:hover {
      color: #003574;
      border: 1px solid #003574; }

.topic-title {
  color: #003574;
  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem; }

.vendor-video-wrapper {
  text-align: center; }
  .vendor-video-wrapper iframe {
    height: 30rem;
    width: 100%; }

.check-pro-reg {
  margin-left: 0px;
  align-items: center; }
  .check-pro-reg label {
    margin-left: 5px; }

.promoter-register-wrapper {
  position: relative; }
  .promoter-register-wrapper .promoter-register-padding .flex-content {
    display: flex;
    margin: 50px 0px;
    box-shadow: 0px 0px 10px 6px #cfcfcf; }
    @media only screen and (max-width: 768px) {
      .promoter-register-wrapper .promoter-register-padding .flex-content {
        display: block; } }
    .promoter-register-wrapper .promoter-register-padding .flex-content .register-left {
      padding: 40px;
      background: #efefef;
      color: #444;
      flex: 1; }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-left h3 {
        color: #003574;
        margin-bottom: 15px;
        font-size: 25px;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 600;
        text-align: center; }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group label {
        font-weight: 500;
        color: #003574; }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group input, .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group textarea {
        border-radius: 0px;
        font-size: 12px;
        background: transparent;
        border-color: #707070; }
        .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group input::placeholder, .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group textarea::placeholder {
          color: #444;
          font-weight: 500; }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group input {
        height: 35px; }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .form-group select {
        height: 35px;
        width: 100%;
        background: transparent;
        border-color: #707070;
        font-size: 12px;
        color: #495057;
        font-weight: 500; }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .promoter-reg-btn {
        text-align: center;
        margin: 25px 0px; }
        .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .promoter-reg-btn .btn-promoter-register {
          background: #003574;
          color: #fff;
          font-size: 14px;
          border-radius: 0px;
          width: 47%;
          transition: 0.5s ease all; }
          @media only screen and (max-width: 768px) {
            .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .promoter-reg-btn .btn-promoter-register {
              width: 100%; } }
          .promoter-register-wrapper .promoter-register-padding .flex-content .register-left form .promoter-reg-btn .btn-promoter-register:hover {
            background: #FF5C00;
            cursor: pointer; }
    .promoter-register-wrapper .promoter-register-padding .flex-content .register-right {
      position: relative;
      flex: 1; }
      @media only screen and (max-width: 600px) {
        .promoter-register-wrapper .promoter-register-padding .flex-content .register-right {
          display: none; } }
      .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper {
        height: 100%;
        display: flex; }
        .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper img {
          object-fit: cover; }
        .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper .promoter-right-shadow {
          position: absolute;
          top: 0;
          left: 0;
          background: #003574b3;
          width: 100%;
          height: 100%;
          color: #fff;
          display: flex;
          flex-direction: column;
          padding: 0px 50px;
          justify-content: center; }
          .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper .promoter-right-shadow figure {
            width: 200px;
            height: auto;
            display: flex;
            align-self: center; }
            .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper .promoter-right-shadow figure img {
              justify-content: center; }
          .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper .promoter-right-shadow h1 {
            background: #003574;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding: 10px 30px;
            font-size: 25px;
            align-self: center; }
          .promoter-register-wrapper .promoter-register-padding .flex-content .register-right .promoter-right-img-wrapper .promoter-right-shadow p {
            font-size: 15px;
            text-align: justify;
            font-weight: 500;
            text-align: center; }
  .promoter-register-wrapper .promoter-register-padding .other-links .link-line {
    text-align: center;
    font-weight: 500; }
    .promoter-register-wrapper .promoter-register-padding .other-links .link-line a {
      color: #003574;
      font-weight: 600;
      text-decoration: underline;
      transition: 0.5s ease all;
      text-transform: uppercase;
      display: block; }
      .promoter-register-wrapper .promoter-register-padding .other-links .link-line a:hover {
        color: #FF5C00;
        cursor: pointer; }

.error-box {
  height: calc(100vh - 30vh);
  background: url(../img/error-bg.jpg) no-repeat center center #fff;
  width: 100%; }

.error-box .footer {
  width: 100%;
  left: 0px;
  right: 0px; }

.error-body {
  padding-top: 20px; }

.error-body h1 {
  font-size: 150px;
  font-weight: 900;
  color: #003574; }

.error-body h3 {
  color: #7c7c7c;
  font-size: 50px; }

.error-body p {
  font-weight: 500;
  margin: 20px 0px; }

.btn-back-home {
  background-color: #003574;
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  transition: 0.5s ease all; }
  .btn-back-home:hover {
    cursor: pointer;
    color: #fff;
    background-color: #FF5C00;
    box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2); }

.two-section {
  padding: 20px 0px; }

.flash-list .section-title-wrapper h3 {
  line-height: 2.5; }
.flash-list .section-title-wrapper .countdown {
  margin-right: 10rem; }
.flash-list .product-card {
  transition: all 0.5s ease; }
  .flash-list .product-card:not(:last-child) {
    margin-bottom: 2rem; }
  .flash-list .product-card:hover {
    box-shadow: 0px 6px 6px 0px rgba(109, 109, 109, 0.25);
    cursor: pointer; }
  .flash-list .product-card .card-image {
    height: 15rem; }

.category-listing {
  background: #eee; }
  .category-listing .card-cat-wrapper {
    background: #fff; }

.main-products [class^="container-"] .row {
  margin-left: -5px;
  margin-right: -5px; }
.main-products [class^="container-"] [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

/*# sourceMappingURL=main.css.map */
