/* top header category multi dropdown menu css starts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.sub-menu {
  position: relative; }

.sub-menu li a {
  font-size: 14px;
  color: #000; }

.sub-menu li a {
  font-size: 15px;
  color: #444;
  padding-left: 10px;
  padding: 5px 10px;
  font-weight: 500; }

.sub-menu li a:hover {
  color: var(--color-secondary);
  cursor: pointer; }

.sub-menu li a:active {
  color: #fff;
  cursor: pointer; }

.sub-menu .dropdown-submenu {
  border-bottom: 1px solid #cfcfcf; }

.dropdown-menu .sub-sub-menu, .dropdown-menu .sub-sub-sub-menu {
  height: 100%; }

.dropdown-menu .sub-sub-menu li, .dropdown-menu .sub-sub-sub-menu li {
  border-bottom: 0px solid rgba(0, 0, 0, 0.15); }

.sub-menu, .sub-sub-menu, .sub-sub-sub-menu {
  border-radius: 0px; }

.dropdown-submenu a img {
  margin-right: 4px; }

.sub-menu.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
  border-top: 0;
  margin: 0; }

.sub-sub-menu.dropdown-menu {
  margin: 0px;
  padding: 0px;
  border-top: 0px; }

.sub-sub-sub-menu.dropdown-menu {
  border-top: 0px;
  padding: 0px;
  margin: 0px; }

.dropdown-menu.sub-menu, .dropdown-menu .sub-sub-menu, .dropdown-menu.sub-sub-sub-menu {
  width: 240px; }

.dropdown-submenu > a:after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
  float: right; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

/* top header category multi dropdown menu css edns */
/* Footer Payment System */
.mini-comp-logo li {
  display: inline-block;
  margin: 1rem; }

.mini-comp-logo li img {
  height: 2rem;
  object-fit: contain; }

/* Footer Payment System */
a,
a:hover,
a:active {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6, p,
ul {
  padding: 0;
  margin: 0; }

a,
button {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.color-white {
  color: #fff !important; }

.common-padding {
  padding: 3rem 0 !important; }

.color-primary {
  color: #FF5C00 !important; }

.no-top {
  padding-top: 0 !important; }

.no-bottom {
  padding-bottom: 0 !important; }

.bg-primary {
  background: #FF5C00 !important; }

.bg-para {
  background-attachment: fixed !important; }

.bg-img {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; }

.bg-grey {
  background: rgba(158, 158, 158, 0.2) !important; }

.side-listing li {
  display: inline-block !important; }

/*********
 Project Name: Alpasal Ecommerce
 Project Category: Ecommerce
 Developed by: Gopal basnet
 Author: Gopal basnet (Frontend Developer)
 Date: August 2019
************/
/**--ClearFix---**/
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

::selection {
  background: #FF5C00;
  color: #fff; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 1rem) {
    html {
      font-size: 75%; } }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative; }

.btn-main {
  display: inline-block;
  background: #FF5C00;
  color: #fff;
  padding: 1.2rem 2rem;
  outline: none;
  border: none;
  position: relative;
  z-index: 2; }
  .btn-main::before {
    content: '';
    height: 100%;
    width: 0;
    background: #cc4a00;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .btn-main:hover::before {
    width: 100%; }

.text-center .footer-title::before {
  margin: 0 auto;
  left: 0;
  right: 0; }

.header-main {
  background: #fff; }
  .header-main .navbar {
    background: #003574;
    color: #fff;
    padding: 0; }
    .header-main .navbar .nav-item-main {
      position: relative; }
      .header-main .navbar .nav-item-main:not(:last-child) {
        margin-right: .5rem; }
      .header-main .navbar .nav-item-main:first-child .nav-link {
        background: #FF5C00; }
      .header-main .navbar .nav-item-main .nav-link {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: #fff;
        padding: 1rem 1.5rem; }
        .header-main .navbar .nav-item-main .nav-link:hover {
          background: #FF5C00;
          color: #fff; }

.top-header {
  padding: .3rem 0; }

.top-links li {
  font-size: 1.2rem; }
  .top-links li i {
    margin-right: .5rem; }
  .top-links li:not(:first-child) {
    margin-left: 2.5rem; }
.top-links a {
  text-transform: uppercase;
  color: #333; }
  .top-links a:hover, .top-links a.active {
    color: #FF5C00; }
  .top-links a:hover {
    text-decoration: underline; }

.main-header {
  padding: .3rem 0 .5rem; }
  .main-header .navbar-brand img {
    height: 6rem;
    object-fit: contain; }
    @media only screen and (max-width: 990px) {
      .main-header .navbar-brand img {
        width: 100%; } }

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0; }
  .search-bar .search-addon, .search-bar input, .search-bar button {
    border-radius: 0;
    height: 4.5rem;
    background: transparent;
    outline: none;
    border: none; }
  .search-bar .search-addon {
    background: #eee;
    line-height: 4.5rem;
    width: 5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #777; }
  .search-bar input {
    background: #eee;
    width: calc(85% - 4.5rem);
    font-size: 1.4rem;
    color: #333; }
  .search-bar button {
    text-transform: uppercase;
    background: #FF5C00;
    width: 15%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff; }

.head-cart {
  position: relative; }
  .head-cart a {
    display: inline-block;
    height: 3rem;
    width: 5rem; }
    .head-cart a img {
      height: 100%;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .head-cart .cart-length {
    background: #FF5C00;
    color: #fff;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0; }

.head-notification {
  position: relative; }
  .head-notification a {
    display: inline-block;
    height: 3rem;
    width: 4rem; }
    .head-notification a i {
      font-size: 25px; }
  .head-notification .cart-length {
    background: #FF5C00;
    color: #fff;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0; }

.coupon-code {
  width: 19rem; }

.slider-wrapper {
  height: 34%;
  width: 100%; }
  .slider-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.owl-dots {
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  left: 0;
  right: 0; }
  .owl-dots .owl-dot {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7) !important;
    margin: 0 .3rem;
    outline: none; }
    .owl-dots .owl-dot.active {
      background: #fff !important; }

/*------------------------
-----------Footer------
-------------------------*/
.footer-main {
  padding-top: 4rem; }

.top-footer {
  padding: 2rem 0; }

.top-footer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

.footer-logo-wrap {
  width: 100%;
  height: 6rem;
  margin-bottom: 1rem; }

.footer-logo-wrap img {
  /* width: 100%; */
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.footer-icon img {
  height: 2.5rem;
  width: 2.5rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin-right: 1rem; }

.footer-detail p {
  font-size: 1.4rem;
  color: #878787; }

.footer-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  color: #333;
  padding: 2.5rem 0 .7rem;
  margin-bottom: 2rem;
  position: relative; }

.footer-title::before {
  content: '';
  width: 75%;
  height: 2px;
  background: #FF5C00;
  position: absolute;
  bottom: 0;
  left: 0; }

.footer-list li {
  margin: .5rem 0;
  position: relative; }

.footer-list li:first-child {
  margin-top: 0; }

.footer-list li::before {
  content: '\f192';
  color: #333;
  font-family: "Font Awesome 5 Free";
  margin-right: 1rem;
  font-size: 1rem; }

.footer-list li a {
  font-size: 1.4rem;
  color: #878787; }

.footer-list li a:hover {
  color: #FF5C00; }

/* MID_FOOTER */
.middle-footer {
  padding: 3rem 0; }

.footer-links li,
.mini-comp-logo li,
.comp-logo li {
  display: inline-block;
  margin: .5rem 1rem; }

.mini-comp-logo li {
  margin: .5rem; }

.comp-logo li img {
  height: 3rem;
  -o-object-fit: contain;
  object-fit: contain; }

.mini-comp-logo li img {
  height: 1.5rem;
  -o-object-fit: contain;
  object-fit: contain; }

.footer-links {
  margin: 2rem 0; }

.whole-title a,
.footer-links li a {
  color: #878787;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600; }

.footer-links li a:hover {
  color: #FF5C00; }

.middle-footer p {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #878787;
  margin-bottom: 2rem; }

.resp-short {
  width: 80%;
  margin: 0 auto; }

@media only screen and (max-width: 580px) {
  .resp-short {
    width: 100%; } }
/* COPYRIGHT */
.copyright-wrapper {
  padding: 1.2rem 0;
  background: #333; }

.copyright {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  font-weight: 300; }

.copyright a {
  color: #FF5C00;
  font-size: 1.4rem;
  font-weight: 400; }
  .copyright a:hover {
    color: #fff; }

/*------------------------
-----------Footer------
-------------------------*/
.whole-category .footer-title {
  padding-top: 0; }
.whole-category .d-flex .main {
  white-space: nowrap; }
.whole-category ul li {
  display: inline-block;
  padding: 0 .3rem;
  line-height: 1; }
  .whole-category ul li:nth-child(2), .whole-category ul li:first-child {
    padding-left: 0; }
  .whole-category ul li:last-child {
    padding-right: 0; }
  .whole-category ul li:not(:last-child) {
    border-right: 1px solid rgba(51, 51, 51, 0.3); }
  .whole-category ul li.whole-title {
    border-right: 0; }
  .whole-category ul li a {
    display: inline-block;
    font-size: 1.3rem;
    color: #878787; }
    .whole-category ul li a:hover {
      color: #FF5C00; }

.top-footer .newsletter {
  margin-bottom: 2rem; }
.top-footer .app-logos li {
  display: block; }
  @media only screen and (max-width: 575px) {
    .top-footer .app-logos li {
      display: inline-block;
      margin: 0 1rem; } }
  @media only screen and (min-width: 1400px) {
    .top-footer .app-logos li {
      display: inline-block;
      margin: 0 1rem; } }
  .top-footer .app-logos li:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 575px) {
      .top-footer .app-logos li:not(:last-child) {
        margin-bottom: 0; } }
  .top-footer .app-logos li img {
    height: 4rem;
    -o-object-fit: cover;
    object-fit: cover; }

.cat-nav {
  border: none;
  position: relative; }
  .cat-nav .nav-item:not(:first-child) {
    margin-left: 1rem; }
  .cat-nav .nav-item .nav-link {
    border: none;
    color: #333;
    display: block;
    float: left;
    font-size: 13px;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 400; }
    .cat-nav .nav-item .nav-link.active, .cat-nav .nav-item .nav-link:hover {
      background: #FF5C00;
      color: #fff;
      border-radius: 0; }
  .cat-nav .view-more-btn {
    position: absolute;
    right: 0px;
    top: 0px; }
    .cat-nav .view-more-btn a {
      color: #FF5C00;
      @inlcude trans(.3s);
      font-size: 14px;
      font-weight: 500; }
      .cat-nav .view-more-btn a:hover {
        cursor: pointer;
        color: #003574;
        text-decoration: underline; }

.owl-nav-top .owl-nav {
  position: absolute;
  top: -5rem;
  right: 0; }
  .owl-nav-top .owl-nav .owl-prev,
  .owl-nav-top .owl-nav .owl-next {
    outline: none; }
    .owl-nav-top .owl-nav .owl-prev span,
    .owl-nav-top .owl-nav .owl-next span {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 0;
      text-align: center;
      line-height: 2.7rem;
      color: #777;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .owl-nav-top .owl-nav .owl-prev span:hover,
      .owl-nav-top .owl-nav .owl-next span:hover {
        background: #FF5C00;
        border-color: #FF5C00;
        color: #fff; }
  .owl-nav-top .owl-nav .owl-next {
    margin-left: 1rem; }

.advo {
  width: 100%;
  position: relative; }
  .advo img {
    width: 100%; }
  .advo .advo-long-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    color: #FF5C00;
    padding-right: 4rem;
    padding-bottom: 2rem; }
    .advo .advo-long-content p {
      font-size: 3.6rem;
      text-transform: uppercase;
      font-weight: bold; }
      .advo .advo-long-content p span {
        display: block;
        color: #fff;
        font-weight: normal;
        font-size: 2.2rem; }

.custom-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .custom-grid-item {
    width: calc(100% / 8);
    padding: 0 .5rem; }
    @media only screen and (max-width: 1370px) {
      .custom-grid-item {
        width: calc(100% / 6); } }
    @media only screen and (max-width: 990px) {
      .custom-grid-item {
        width: calc(100% / 3); } }
    @media only screen and (max-width: 750px) {
      .custom-grid-item {
        width: calc(100% / 2); } }
    @media only screen and (max-width: 350px) {
      .custom-grid-item {
        width: calc(100% / 1); } }

.grid-btn-div {
  text-align: center;
  margin: 10px 0px 0px 0px; }
  .grid-btn-div .grid-btn {
    background: #FF5C00;
    border: 1px solid #FF5C00;
    color: #fff;
    padding: .7rem 1rem;
    font-size: 1.3rem;
    align-items: center;
    box-sizing: border-box;
    text-align: center; }
    .grid-btn-div .grid-btn:hover {
      color: #FF5C00;
      background: transparent; }

.single-product-section {
  padding: 20px 0px; }

.xzoom {
  height: 350px;
  width: 100% !important;
  object-fit: contain;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 0px 0px 0px !important; }

.xactive {
  box-shadow: 0px 0px 3px 0px rgba(114, 116, 117, 0.38);
  border: 1px solid #cfcfcf; }

.single-zoom-wrapper {
  display: flex; }
  @media only screen and (max-width: 768px) {
    .single-zoom-wrapper {
      display: block; } }
  .single-zoom-wrapper .img-zoom-div {
    display: flex;
    flex: 1;
    position: sticky;
    top: 135.25px;
    bottom: 0px;
    align-self: flex-start; }
    @media only screen and (max-width: 768px) {
      .single-zoom-wrapper .img-zoom-div {
        display: block;
        position: relative;
        top: 0px; } }
    .single-zoom-wrapper .img-zoom-div .left-zoom-img {
      flex: 4;
      order: 2;
      position: relative; }
      .single-zoom-wrapper .img-zoom-div .left-zoom-img .wishlist-icon {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #f0f0f0;
        box-shadow: 0 1px 4px 0 rgba(107, 107, 107, 0.38);
        background: #fff;
        z-index: 1000;
        font-size: 20px;
        color: #FF5C00;
        font-size: 20px;
        text-align: center;
        line-height: 40px; }
        .single-zoom-wrapper .img-zoom-div .left-zoom-img .wishlist-icon i:hover {
          font-weight: 900; }
      .single-zoom-wrapper .img-zoom-div .left-zoom-img .delivery-option {
        margin-top: 10px; }
        .single-zoom-wrapper .img-zoom-div .left-zoom-img .delivery-option .delivery-info .delivery-info-p1 {
          font-size: 14px; }
          .single-zoom-wrapper .img-zoom-div .left-zoom-img .delivery-option .delivery-info .delivery-info-p1 button {
            margin-left: 5px; }
    .single-zoom-wrapper .img-zoom-div .middle-zoom-img {
      flex: 0.5;
      order: 1; }
  .single-zoom-wrapper .right-zoom-img {
    flex: 2;
    padding-left: 2rem; }
    .single-zoom-wrapper .right-zoom-img .single-product-info {
      width: calc(100% - 25%); }
      .single-zoom-wrapper .right-zoom-img .single-product-info .single-product-title {
        font-size: 16px;
        font-weight: 500;
        color: #444; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 10px 0px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .rating-span {
          background: #FF5C00;
          font-size: 12px;
          color: #fff;
          padding: 3px 5px;
          border-radius: 4px;
          font-weight: 500;
          letter-spacing: 0.9px;
          margin-right: 5px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .rating-span-text {
          font-size: 12px;
          color: #003574;
          font-weight: 500; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .rating-span-text:after {
            content: '&';
            margin-left: 5px;
            margin-right: 5px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .review-span {
          font-size: 12px;
          color: #003574;
          font-weight: 500;
          margin-right: 5px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .verified-span {
          vertical-align: middle; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .rating-review .verified-span img {
            width: auto;
            height: 24.77px; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .price-div {
        display: flex;
        align-items: baseline; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .main-price {
          font-size: 28px;
          font-weight: 500;
          color: #444; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .discounted-price {
          font-size: 16px;
          text-decoration: line-through;
          color: #707070;
          margin: 0px 10px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .off-price {
          font-size: 16px;
          color: #FF5C00;
          font-weight: 500;
          display: flex;
          align-items: center; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .off-price button {
            border: 0px !important;
            background-color: transparent; }
            .single-zoom-wrapper .right-zoom-img .single-product-info .price-div .off-price button i {
              background: #cfcfcf;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              line-height: 20px;
              font-size: 12px;
              margin-left: 5px;
              text-align: center;
              color: #003574; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .desc-p {
        font-size: 14px;
        color: #707070;
        margin-bottom: 10px; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li {
        font-size: 14px;
        list-style: none;
        font-weight: 500;
        color: #707070;
        margin-bottom: 10px; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li a {
          color: #003574;
          transition: all 0.5s ease;
          font-weight: 400;
          font-size: 13px; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li a:hover {
            cursor: pointer;
            color: #FF5C00; }
        .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock {
          text-align: center; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus .modal-title, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock .modal-title {
            font-size: 18px;
            color: #444; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus button.close, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock button.close {
            font-size: 25px; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus .status-table tr td .open, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock .status-table tr td .open {
            background: green;
            padding: 3px 5px;
            border-radius: 4;
            color: #fff; }
          .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStatus .status-table tr td .closed, .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .product-desc-ul li #viewStock .status-table tr td .closed {
            background: red;
            padding: 3px 5px;
            border-radius: 4;
            color: #fff; }
      .single-zoom-wrapper .right-zoom-img .single-product-info .product-desc .alert-demand {
        text-align: center;
        margin: 20px 0px;
        font-size: 14px;
        font-weight: 500;
        padding: 10px; }
    .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs {
      border: 1px solid #cfcfcf; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs .nav-item {
        margin-bottom: 0px;
        border-right: 1px solid #cfcfcf; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs .nav-item .nav-link {
          border: 0px;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.6px;
          color: #444;
          padding: 8px 20px; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .nav-tabs .nav-item .active {
          margin-bottom: 0px;
          border-bottom: 2px solid #eb5339;
          position: relative;
          top: 1px; }
    .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content {
      padding: 20px 30px;
      border: 1px solid #cfcfcf;
      border-top: 0px;
      text-align: justify;
      line-height: 23px; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .feature-single-user-ul li {
        list-style: none; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .feature-single-user-ul li:before {
          content: '-';
          margin-right: 5px;
          font-weight: 500;
          font-size: 18px; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table {
        text-align: center; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr th {
          font-size: 14px; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td {
          vertical-align: middle;
          font-size: 14px;
          font-weight: 500;
          color: #707070; }
          @media only screen and (max-width: 1400px) {
            .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td .quantity-form .input-group-lg .input-group-prepend .input-group-text {
              padding: .5rem; } }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td .quantity-form .input-width {
            width: 20px; }
            @media only screen and (max-width: 1400px) {
              .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td .quantity-form .input-width {
                width: 45px; } }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td #viewDemandPattern {
            text-align: center; }
            .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td #viewDemandPattern .modal-title {
              font-size: 18px;
              color: #444; }
            .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .demand-table-single-user table tr td #viewDemandPattern button.close {
              font-size: 25px; }
      .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul {
        display: flex;
        justify-content: flex-end; }
        .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul li {
          list-style: none;
          display: inline-block;
          margin-right: 10px; }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul li:last-child {
            margin-right: 0px; }
          .single-zoom-wrapper .right-zoom-img .product-desc-tabs .tab-content .filter-div ul li select {
            font-size: 14px !important; }

.related-product {
  background-color: #fff; }
  .related-product .white-card {
    background: #eee; }
  .related-product .related-h3 {
    font-size: 18px;
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 20px; }

.section-list-cat {
  padding: 3rem 0rem; }

.user-category-left-wrapper {
  border: 1px solid #cfcfcf;
  padding: 10px;
  border-bottom: 0px; }
  .user-category-left-wrapper:last-child {
    border-bottom: 1px solid #cfcfcf; }
  .user-category-left-wrapper .btn {
    background-color: #FF5C00;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.6px;
    font-weight: 500;
    border: 0px;
    border-radius: 0px;
    transition: all 0.5s ease; }
    .user-category-left-wrapper .btn:hover {
      background: #003574;
      cursor: pointer; }
  .user-category-left-wrapper .user-category-title {
    border-bottom: 2px solid #cfcfcf; }
    .user-category-left-wrapper .user-category-title h3 {
      border-bottom: 2px solid #FF5C00;
      width: 100%;
      margin-bottom: -2px;
      padding-bottom: 8px;
      font-size: 15px;
      font-weight: 600;
      color: #FF5C00; }
  .user-category-left-wrapper .user-category-info {
    margin-top: 6px; }
    .user-category-left-wrapper .user-category-info .custom-control {
      position: relative;
      display: inline-block;
      min-height: 0rem;
      padding-left: 1.5rem;
      width: 100%;
      cursor: pointer; }
      .user-category-left-wrapper .user-category-info .custom-control label.custom-control-label {
        font-size: 13px;
        font-weight: 500;
        color: #444;
        cursor: pointer;
        margin-left: 5px; }
        .user-category-left-wrapper .user-category-info .custom-control label.custom-control-label:after {
          width: 13px;
          height: 13px; }
        .user-category-left-wrapper .user-category-info .custom-control label.custom-control-label:before {
          width: 13px;
          height: 13px; }
  .user-category-left-wrapper .user-cat-size-color-div {
    margin-top: 6px; }
    .user-category-left-wrapper .user-cat-size-color-div .custom-control {
      position: relative;
      display: inline-block;
      min-height: 0rem;
      padding-left: 1.5rem;
      width: 100%;
      cursor: pointer; }
      .user-category-left-wrapper .user-cat-size-color-div .custom-control label.custom-control-label {
        font-size: 13px;
        font-weight: 500;
        color: #444;
        cursor: pointer;
        margin-left: 5px; }
        .user-category-left-wrapper .user-cat-size-color-div .custom-control label.custom-control-label:after {
          width: 13px;
          height: 13px; }
        .user-category-left-wrapper .user-cat-size-color-div .custom-control label.custom-control-label:before {
          width: 13px;
          height: 13px; }

.cat-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .cat-grid .custom-grid-item {
    width: calc(100% / 6);
    padding: 0 .5rem; }
    @media only screen and (max-width: 1370px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 4); } }
    @media only screen and (max-width: 990px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 3); } }
    @media only screen and (max-width: 750px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 2); } }
    @media only screen and (max-width: 350px) {
      .cat-grid .custom-grid-item {
        width: calc(100% / 1); } }
    .cat-grid .custom-grid-item .stock-product {
      font-size: 13px;
      color: #444;
      font-weight: 500; }
      .cat-grid .custom-grid-item .stock-product span {
        font-weight: 400; }
    .cat-grid .custom-grid-item .price-product {
      font-size: 13px;
      color: #444;
      font-weight: 500; }
      .cat-grid .custom-grid-item .price-product span {
        font-weight: 400; }
    .cat-grid .custom-grid-item .status {
      font-size: 13px;
      color: #444;
      font-weight: 500;
      margin-top: 5px; }
      .cat-grid .custom-grid-item .status .closed {
        font-weight: 400;
        background-color: red;
        padding: 3px 5px;
        color: #fff;
        border-radius: 4px; }
      .cat-grid .custom-grid-item .status .open {
        font-weight: 400;
        background-color: green;
        padding: 3px 5px;
        color: #fff;
        border-radius: 4px; }

.user-dashboard {
  margin: 30px 0px 40px 0px; }

#user-dashboard-info {
  padding: 20px; }

.left-side-user-dashboard {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05); }

.left-side-user-dashboard .header {
  width: 100%;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #e5e5e5; }

.left-side-user-dashboard .header .img_holder {
  position: absolute;
  top: 0px;
  left: 0px; }

.left-side-user-dashboard .header .img_holder img {
  border-radius: 50%;
  width: 60px;
  height: 60px; }

.left-side-user-dashboard .header .title_holder {
  top: 0px;
  right: 0px;
  position: absolute;
  height: 80px;
  box-sizing: border-box; }

.left-side-user-dashboard .header .prof_who {
  width: 100%;
  position: relative;
  min-height: 75px;
  height: 75px; }

.left-side-user-dashboard .content ul {
  list-style-type: none;
  margin: 0px; }

.left-side-user-dashboard .content ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cfcfcf; }

.left-side-user-dashboard .content ul .left-nav .nav-link {
  padding: 8px 0px;
  font-size: 13px;
  color: #797979;
  letter-spacing: 0.5px;
  font-weight: 500; }

.left-side-user-dashboard .content ul .left-nav .nav-link.active, .content.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #003574;
  border-radius: 0px; }

.left-side-user-dashboard .content ul li.label {
  font-size: 13px;
  color: #444;
  background-color: #eee;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 8px 0px; }

.left-side-user-dashboard .header .prof_who .title_holder span {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #444; }

.left-side-user-dashboard .header .prof_who .title_holder h3 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #444; }

.right-user-dashboard {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  background-color: #eeeeee;
  height: 100%; }

.right-user-dash-edit {
  padding: 20px; }

.right-user-dash-edit .right-user-dash-edit-group label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  text-transform: uppercase; }

.right-user-dash-edit .right-user-dash-edit-group input {
  height: 35px;
  border-radius: 0px;
  font-size: 13px; }

.right-user-dashboard .user-dash-profile-img {
  display: inline-block;
  clear: both;
  position: relative;
  margin-bottom: 25px; }

.right-user-dashboard .user-dash-profile-img img {
  position: relative;
  z-index: 10; }

.right-user-dashboard .user-dash-profile-img .changer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;
  z-index: 20;
  margin-top: -15px; }

.right-user-dashboard .user-dash-profile-img .changer .inputfile {
  width: 0.1px !important;
  min-width: auto !important;
  height: 0.1px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  z-index: -1 !important; }

.right-user-dashboard .user-dash-profile-img .changer label {
  font-size: 12px;
  letter-spacing: .5px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0px;
  background-color: #003574;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  width: 80%;
  padding: 6px 0px; }

.right-user-dash-view-group label {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #444; }

.right-user-dash-view-group h5 {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: #797979; }

.btn-add-product {
  background-color: #003574;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  transition: all 0.5s ease; }

.btn-add-product:hover {
  background-color: #FF5C00;
  cursor: pointer;
  transition: all .3s ease; }

.btn-change-password {
  background-color: #003574;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  transition: all 0.5s ease; }

.btn-change-password:hover {
  background-color: #FF5C00;
  cursor: pointer;
  transition: all .3s ease; }

#user-dashboard-area-request {
  padding: 20px; }

.area-request-div label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  text-transform: uppercase; }

.area-request-div .select2.select2-container {
  width: 100% !important; }

.area-request-div .select2-container--default .select2-selection--multiple {
  border-radius: 0px; }

.area-request-div .select2-selection .select2-selection__rendered {
  color: #666;
  font-size: 13px; }

.area-request-div .select2-selection__choice {
  padding: 0px 8px !important;
  margin: 5px 5px 0px 0px !important;
  border-radius: 0px !important; }

.user-dashboard-tbl {
  margin-top: 20px; }

.user-dashboard-tbl .table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 2px; }

.user-dashboard-tbl .table thead th {
  vertical-align: bottom;
  border: 1px solid #b7b7b7;
  font-size: 14px;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }

.user-dashboard-tbl .table-bordered td {
  border: 1px solid #b7b7b7;
  font-size: 13px;
  font-weight: 500;
  color: #444;
  text-align: center; }

.user-dash-profile-img.user-dashboard-logo img {
  margin: auto;
  height: auto; }

.user-dashboard-logo {
  display: flex !important; }

.user-dash-profile-img img {
  margin: auto;
  width: 100%;
  height: 160px; }

.user-dash-profile-img {
  border: 1px solid #cfcfcf;
  height: 160px;
  width: 100%;
  display: flex; }

.form-group.right-user-dash-view-group {
  margin-bottom: 0px; }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.alert-vendor {
  background-color: #003574;
  color: white; }

.user-dashboard-tbl .table-bordered td ul li {
  list-style: none; }

.btn.btn-delete-product {
  background: red;
  color: #fff;
  font-size: 13px;
  padding: 3px 8px; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 0px;
  height: 35px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px; }

.wishlist-img-wrap {
  height: 8rem;
  width: 8rem; }
  .wishlist-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.wishlist-main tbody tr td {
  padding: 1rem;
  vertical-align: middle;
  color: #333; }

.btn-load-more-wishlist {
  background: #003574;
  color: #fff;
  border-radius: 0px; }

.add-product-right-side {
  padding: 20px; }

.btn-load-more-wishlist {
  background: #003574;
  color: #fff;
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 12px; }

.wishlist-main {
  margin-top: 15px; }

.shipping-tab {
  padding: 20px; }

.breadcrumb-main {
  padding: 1rem 0; }

.breadcrumb {
  margin: 0;
  background: transparent; }

.breadcrumb-main h3 {
  color: #fff;
  line-height: 2.1;
  text-transform: uppercase; }

.breadcrumb-item,
.breadcrumb-item a {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8); }

.breadcrumb-item a:hover,
.breadcrumb-item.active {
  /* color: var(--color-secondary); */
  color: #fff; }

.breadcrumb-main .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.8); }

.dropdown {
  position: relative; }
  .dropdown .dropdown-pannel {
    position: absolute;
    min-width: 20rem;
    background: transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    padding-top: 1rem;
    opacity: 0;
    visibility: hidden; }
    .dropdown .dropdown-pannel .dropdown-content {
      background: #fff;
      border: 1px solid #cfcfcf; }
    .dropdown .dropdown-pannel .dropdown-item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2rem; }
      .dropdown .dropdown-pannel .dropdown-item i {
        font-size: 1.8rem;
        margin-right: 1rem; }
    .dropdown .dropdown-pannel::before, .dropdown .dropdown-pannel::after {
      content: '';
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
    .dropdown .dropdown-pannel::before {
      top: -1px;
      border-bottom: 11px solid #cfcfcf; }
    .dropdown .dropdown-pannel::after {
      top: 0;
      border-bottom: 11px solid #fff; }
  .dropdown:hover .dropdown-pannel {
    opacity: 1;
    visibility: visible; }
  .dropdown .dropdown-pannel.dropdown-large {
    min-width: 25rem; }
  .dropdown .drop-title {
    font-size: 1.5rem;
    color: #003574;
    margin-bottom: 1rem; }
  .dropdown .form-group label {
    font-size: 1.1rem;
    color: #777; }
  .dropdown .form-group input {
    height: 3.5rem;
    font-size: 1.3rem; }
  .dropdown label a {
    color: #FF5C00; }

.social-icons li {
  display: inline-block; }
  .social-icons li:not(:last-child) {
    margin-right: .5rem; }
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  background: #777;
  color: #fff;
  border-radius: 50%; }
  .social-icons a.facebook:hover {
    background: #213553; }
  .social-icons a.twitter:hover {
    background: #3aa8db; }
  .social-icons a.google:hover {
    background: #d04f3e; }
  .social-icons a.youtube:hover {
    background: #ed4533; }
  .social-icons a.instagram:hover {
    background: #4f86ac; }

.newsletter {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.newsletter-box {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  background: #ddd;
  color: #333;
  height: 4rem;
  font-weight: 300;
  padding: .8rem 5.5rem .8rem 1.5rem;
  font-size: 1.4rem; }

.news-submit {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none !important;
  min-height: 4rem;
  color: #FF5C00;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-right: 1.5rem; }

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  margin-right: 1px; }
  .product-card:hover {
    box-shadow: 0px 3px 6px 0px rgba(109, 109, 109, 0.25);
    cursor: pointer; }
  .product-card .card-image {
    background: #fff;
    height: 18rem;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .product-card .card-image img {
      height: 100%;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
    .product-card .card-image .card-buttons {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  .product-card .card-detail {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1.5rem;
    background: #fff; }
  .product-card .product-title {
    line-height: 1.7rem;
    margin: 3px 0px; }
  .product-card .product-title a {
    font-size: 1.3rem;
    color: #333;
    font-weight: 500; }
    .product-card .product-title a:hover {
      color: #FF5C00; }
  .product-card .product-price {
    font-size: 1.5rem;
    color: #FF5C00;
    font-weight: 700;
    letter-spacing: .5px; }
    .product-card .product-price span {
      text-decoration: line-through;
      font-weight: 400;
      color: #b5b5b5;
      display: block;
      font-size: 1.3rem; }
  .product-card .rating li i {
    color: #b5b5b5;
    font-size: 1.1rem; }
    .product-card .rating li i.active {
      color: #FF5C00; }
  .product-card:hover .card-buttons {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @media only screen and (max-width: 990px) {
    .card-buttons {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  .card-buttons a {
    display: inline-block;
    padding: .7rem 0;
    background: #FF5C00;
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff; }
    .card-buttons a:hover {
      background: #333; }
    .card-buttons a:first-child {
      width: 55%; }
    .card-buttons a:not(:first-child) {
      width: 15%; }

.section-title-wrapper {
  margin-bottom: 2rem; }
  .section-title-wrapper h3 {
    font-size: 18px;
    color: #1f2022;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px; }

.title-tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .title-tab h3 {
    line-height: 1.7; }

.white-card {
  background: #fff;
  padding: 2rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.flash-sale .section-title-wrapper {
  margin-bottom: 1rem; }

.flash-product .flash-image {
  height: 24.5rem;
  width: 100%;
  position: relative; }
  .flash-product .flash-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain; }
  .flash-product .flash-image .countdown {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    left: 0;
    right: 0; }
.flash-product .button-block {
  margin-top: 1rem; }

.flash-button {
  display: flex;
  justify-content: space-between; }

.button-block {
  display: inline-block;
  background: #FF5C00;
  border: 1px solid #FF5C00;
  color: #fff;
  padding: .7rem 1rem;
  font-size: 1.3rem;
  align-items: center;
  box-sizing: border-box;
  flex-basis: 45%;
  text-align: center; }
  .button-block i {
    margin-right: .5rem; }
  .button-block:hover {
    color: #FF5C00;
    background: transparent; }
  @media only screen and (max-width: 1400px) {
    .button-block {
      padding: .7rem .5rem; } }

.owl-nav-top-small .owl-nav {
  top: -4rem; }

.countdown ul li {
  padding: .5rem 0;
  height: auto;
  width: 5rem;
  background: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700; }
  .countdown ul li span {
    display: block;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 0.5px; }
.countdown.count-primary ul li {
  color: #fff;
  background: #FF5C00; }

.discount {
  position: absolute;
  height: 5rem;
  width: 5rem;
  background: #ff7878;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  top: 4%;
  right: 1rem;
  text-transform: uppercase; }
  .discount p {
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 14px; }
    .discount p span {
      display: block; }

.category-container {
  width: 100%; }

.category-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: all 0.5s ease; }
  .category-box:hover {
    box-shadow: 0px 3px 6px 0px #5f5e5e2b; }
  .category-box a {
    display: block;
    padding: 2rem; }
  .category-box .content {
    width: 55%; }
    .category-box .content h4 {
      font-size: 1.2rem;
      color: #333;
      letter-spacing: .5px;
      font-weight: 600; }
    .category-box .content p {
      font-size: 1.1rem;
      color: #777;
      margin-top: .5rem; }
  .category-box .image {
    height: 5rem;
    width: 40%;
    text-align: right; }
    .category-box .image img {
      height: 100%;
      object-fit: contain; }

.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  margin-left: 0px; }

.two-section {
  padding: 3rem 0; }
  .two-section .advo {
    margin-top: 2rem; }

.flash-list .section-title-wrapper h3 {
  line-height: 2.5; }
.flash-list .section-title-wrapper .countdown {
  margin-right: 10rem; }
.flash-list .product-card {
  transition: all 0.5s ease; }
  .flash-list .product-card:not(:last-child) {
    margin-bottom: 2rem; }
  .flash-list .product-card:hover {
    box-shadow: 0px 3px 6px 0px rgba(109, 109, 109, 0.25);
    cursor: pointer; }
  .flash-list .product-card .card-image {
    height: 15rem; }

.category-listing {
  padding: 2rem 0; }

.main-products [class^="container-"] .row {
  margin-left: -5px;
  margin-right: -5px; }
.main-products [class^="container-"] [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }
 
